Donation_Processing_iATS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_1_A1</name>
        <label>Email Alert</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>IATSPayment__Transaction__c.Transaction_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IATSPayment__Transaction__c.Transaction_Alert</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>test</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_8_myRule_11_A1_8961744501</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>myRule_1</name>
        <label>Blank Opp or Contact</label>
        <locationX>445</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Blank Opp or Contact</defaultConnectorLabel>
        <rules>
            <name>testtest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>asdfasdf</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_1</targetReference>
            </connector>
            <label>test</label>
        </rules>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Blank Opp or Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_11</name>
        <label>New Reg Payment</label>
        <locationX>841</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>myRule_22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_New Reg Payment</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>TRUE_New Reg Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_22</name>
        <label>New Project Payment</label>
        <locationX>1105</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>myRule_33</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_New Project Payment</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>PR-</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_22_A1</targetReference>
            </connector>
            <label>TRUE_New Project Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>New Account if blank</label>
        <locationX>841</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>myRule_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_New Account if blank</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Contact__r.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>TRUE_New Account if blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_33</name>
        <label>New Event Donation</label>
        <locationX>1369</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>myRule_44</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_New Event Donation</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_33</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>EV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_33_A1</targetReference>
            </connector>
            <label>TRUE_New Event Donation</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_44</name>
        <label>Gala General Donation</label>
        <locationX>1633</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>myRule_49</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Gala General Donation</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_44</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GalaDonation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_44_A1</targetReference>
            </connector>
            <label>TRUE_Gala General Donation</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_49</name>
        <label>WLGala</label>
        <locationX>1896</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>myRule_55</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_WLGala</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_49</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>WLGala</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_49_A1</targetReference>
            </connector>
            <label>TRUE_WLGala</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_55</name>
        <label>Ice Road Campaign 2019</label>
        <locationX>2159</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>myRule_60</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Ice Road Campaign 2019</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_55</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CYFicevirtualdonor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_55_A1</targetReference>
            </connector>
            <label>TRUE_Ice Road Campaign 2019</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_6</name>
        <label>Update Owner</label>
        <locationX>841</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>myRule_8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Update Owner</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_6</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Contact__r.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00550000005NTk4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Contact__r.Account.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00550000005NTk4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>TRUE_Update Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_60</name>
        <label>CDF Processing</label>
        <locationX>2421</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>myRule_65</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_CDF Processing</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_60</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDF Mexico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDF Dominican Republic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDF Haiti</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDF General</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_60_A1</targetReference>
            </connector>
            <label>TRUE_CDF Processing</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_65</name>
        <label>TAX RECEIPT - NO DESIGNATION</label>
        <locationX>2681</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>myRule_70</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_TAX RECEIPT - NO DESIGNATION</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_65</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GeneralDonation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_65_A1</targetReference>
            </connector>
            <label>TRUE_TAX RECEIPT - NO DESIGNATION</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_70</name>
        <label>Private Room Payment Processing</label>
        <locationX>2937</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>myRule_77</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Private Room Payment Processing</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_70</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RM-</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_70_A1</targetReference>
            </connector>
            <label>TRUE_Private Room Payment Processing</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_77</name>
        <label>Other Funds Processing</label>
        <locationX>3185</locationX>
        <locationY>2411</locationY>
        <defaultConnector>
            <targetReference>myRule_83</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Other Funds Processing</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_77</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>OF-</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_77_A1</targetReference>
            </connector>
            <label>TRUE_Other Funds Processing</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_8</name>
        <label>Check Blank Account address - Business donation</label>
        <locationX>841</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>myRule_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Check Blank Account address - Business donation</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_A1</targetReference>
            </connector>
            <label>TRUE_Check Blank Account address - Business donation</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_83</name>
        <label>Item15 has campaign ID</label>
        <locationX>3416</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>myRule_89</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Item15 has campaign ID</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_83</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__r.IATSPayment__IATS_Item_15__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>701</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_83_A1</targetReference>
            </connector>
            <label>TRUE_Item15 has campaign ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_89</name>
        <label>LoveLegacy</label>
        <locationX>3614</locationX>
        <locationY>2627</locationY>
        <defaultConnectorLabel>FALSE_LoveLegacy</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_89</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LoveLegacy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_89_A1</targetReference>
            </connector>
            <label>TRUE_LoveLegacy</label>
        </rules>
    </decisions>
    <description>Migrated from the Donation Processing - iATS process using multiple criteria.
company name field to new account</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_10_myRule_11_A1_0607492598</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c}, 18)</expression>
    </formulas>
    <formulas>
        <name>formula_11_myRule_11_A1_4283527977</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c} == &quot;NO TAX RECEIPT&quot;,&quot;No&quot;,&quot;Yes&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_12_myRule_22_A4_5320724172</name>
        <dataType>String</dataType>
        <expression>IF(OR({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c=&quot;Individual&quot;},{!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c=&quot;Business&quot;}), &quot;01u50000001KqlbAAC&quot;, IF({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c=&quot;Payment&quot;},&quot;01u50000001ahwhAAA&quot;,IF(CONTAINS({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c},&quot;Event&quot;),&quot;01u50000001ahwhAAA&quot;,&quot;01u50000001KqlbAAC&quot; )))</expression>
    </formulas>
    <formulas>
        <name>formula_13_myRule_22_A3_5151346106</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c}, 18)</expression>
    </formulas>
    <formulas>
        <name>formula_14_myRule_22_A2_7020715566</name>
        <dataType>String</dataType>
        <expression>if(RIGHT({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c} ,18)=&quot;a0g2J000008FbHUQA0&quot;,&quot;--MX 2021 Virtual Build&quot;,&quot;--project&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_15_myRule_22_A2_9419294952</name>
        <dataType>String</dataType>
        <expression>{!$Record.IATSPayment__Contact__r.FirstName} + &quot; &quot; +{!$Record.IATSPayment__Contact__r.LastName}  + &quot;  - IATS &quot; +
 IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;Credit Card&quot;,&quot;CC&quot;,&quot;ACH&quot;) + &quot; Project Donation &quot; +TEXT(DATEVALUE({!$Record.IATSPayment__Date__c}))</expression>
    </formulas>
    <formulas>
        <name>formula_16_myRule_22_A2_2404696803</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;ACH&quot;,&quot;ACH/Direct Debit&quot;,&quot;Credit Card&quot; )</expression>
    </formulas>
    <formulas>
        <name>formula_17_myRule_22_A2_6150928347</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c=&quot;Individual&quot;},&quot;Primary Contact&quot;,IF(CONTAINS({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c},&quot;Business&quot;),&quot;Account&quot;,&quot;No tax receipt&quot; ))</expression>
    </formulas>
    <formulas>
        <name>formula_18_myRule_22_A2_3597005396</name>
        <dataType>String</dataType>
        <expression>IF(OR({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c=&quot;Individual&quot;},{!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c=&quot;Business&quot;}), &quot;Donation&quot;, IF({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c=&quot;Payment&quot;},&quot;Payment&quot;,IF(CONTAINS({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c},&quot;Fundraising Event&quot;),&quot;Proceeds from Fundraising&quot;,&quot;Non-Receiptable&quot; )))</expression>
    </formulas>
    <formulas>
        <name>formula_19_myRule_22_A1_9035537494</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Credit_Card__c} == null,&quot;Direct Debit&quot;,&quot;Credit Card&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_1_myRule_3_A1_0597637373</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c}, &apos;Business&apos;) &amp;&amp; NOT(ISBLANK({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item3__c}) ) , {!$Record.IATSPayment__Opportunity__r.IATSPayment__Item3__c} ,{!$Record.IATSPayment__Contact__r.Full_Name__c}  )</expression>
    </formulas>
    <formulas>
        <name>formula_20_myRule_22_A1_2663885929</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c} , 18)</expression>
    </formulas>
    <formulas>
        <name>formula_21_myRule_33_A3_5811172743</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c}, 18)</expression>
    </formulas>
    <formulas>
        <name>formula_22_myRule_33_A2_9416984523</name>
        <dataType>String</dataType>
        <expression>{!$Record.IATSPayment__Contact__r.FirstName} + &quot; &quot; +{!$Record.IATSPayment__Contact__r.LastName}  + &quot;  - IATS &quot; +
 IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;Credit Card&quot;,&quot;CC&quot;,&quot;ACH&quot;) + &quot; Event Donation &quot; +TEXT(DATEVALUE({!$Record.IATSPayment__Date__c}))</expression>
    </formulas>
    <formulas>
        <name>formula_23_myRule_33_A2_6745137848</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;ACH&quot;,&quot;ACH/Direct Debit&quot;,&quot;Credit Card&quot; )</expression>
    </formulas>
    <formulas>
        <name>formula_24_myRule_33_A2_9565371824</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c=&quot;Individual&quot;},&quot;Primary Contact&quot;,IF(CONTAINS({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c},&quot;Business&quot;),&quot;Account&quot;,&quot;No tax receipt&quot; ))</expression>
    </formulas>
    <formulas>
        <name>formula_25_myRule_33_A2_1629572869</name>
        <dataType>String</dataType>
        <expression>IF(OR({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c=&quot;Individual&quot;},{!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c=&quot;Business&quot;}), &quot;Donation&quot;, IF({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c=&quot;Payment&quot;},&quot;Payment&quot;,IF(CONTAINS({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c},&quot;Fundraising Event&quot;),&quot;Proceeds from Fundraising&quot;,&quot;Non-Receiptable&quot; )))</expression>
    </formulas>
    <formulas>
        <name>formula_26_myRule_33_A1_2771234559</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.IATSPayment__Opportunity__r.School_Contract_Comments__c} ) , &quot;No comment was made&quot;,{!$Record.IATSPayment__Opportunity__r.School_Contract_Comments__c} )</expression>
    </formulas>
    <formulas>
        <name>formula_27_myRule_33_A1_4745362541</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c}, 18)</expression>
    </formulas>
    <formulas>
        <name>formula_28_myRule_33_A1_8473288558</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Credit_Card__c} == null,&quot;Direct Debit&quot;,&quot;Credit Card&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_29_myRule_33_A1_0483566484</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c} == &quot;NO TAX RECEIPT&quot;,&quot;No&quot;,&quot;Yes&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_2_myRule_8_A1_4965490916</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item3__c})),
    {!$Record.IATSPayment__Opportunity__r.IATSPayment__Item3__c},
    IF(
        NOT(ISBLANK({!$Record.IATSPayment__Opportunity__r.IATSPayment__iATS_Company_Name__c})),
        {!$Record.IATSPayment__Opportunity__r.IATSPayment__iATS_Company_Name__c},
        {!$Record.IATSPayment__Contact__r.Full_Name__c}
    )
)</expression>
    </formulas>
    <formulas>
        <name>formula_30_myRule_44_A1_1200788552</name>
        <dataType>String</dataType>
        <expression>{!$Record.IATSPayment__Contact__r.FirstName} + &quot; &quot; +{!$Record.IATSPayment__Contact__r.LastName}  + &quot;  - IATS &quot; +
 IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;Credit Card&quot;,&quot;CC&quot;,&quot;ACH&quot;) + &quot; With Love Donation &quot; +TEXT(DATEVALUE({!$Record.IATSPayment__Date__c}))</expression>
    </formulas>
    <formulas>
        <name>formula_31_myRule_44_A1_6104356476</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Credit_Card__c} == null,&quot;Direct Debit&quot;,&quot;Credit Card&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_32_myRule_44_A1_9527361351</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c=&quot;Individual&quot;},&quot;Primary Contact&quot;,IF(CONTAINS({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c},&quot;Business&quot;),&quot;Account&quot;,&quot;No tax receipt&quot; ))</expression>
    </formulas>
    <formulas>
        <name>formula_33_myRule_49_A1_4304732118</name>
        <dataType>String</dataType>
        <expression>&apos;Gala 2024 With Love&apos;</expression>
    </formulas>
    <formulas>
        <name>formula_34_myRule_49_A1_2606548696</name>
        <dataType>String</dataType>
        <expression>&quot;our 2024 &apos;With Love Gala&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_35_myRule_49_A1_5735044833</name>
        <dataType>String</dataType>
        <expression>{!$Record.IATSPayment__Contact__r.FirstName} + &quot; &quot; +{!$Record.IATSPayment__Contact__r.LastName}  + &quot;  - IATS &quot; +
 IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;Credit Card&quot;,&quot;CC&quot;,&quot;ACH&quot;) + &quot; Donation - &quot;+ IF(CONTAINS({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c}, &quot;wpg&quot;), &quot;Winnipeg Gala &quot;,&quot;Hamilton Gala &quot;)  +TEXT(DATEVALUE({!$Record.IATSPayment__Date__c}))</expression>
    </formulas>
    <formulas>
        <name>formula_36_myRule_49_A1_2470036640</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Credit_Card__c} == null,&quot;Direct Debit&quot;,&quot;Credit Card&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_37_myRule_55_A1_8758787042</name>
        <dataType>String</dataType>
        <expression>{!$Record.IATSPayment__Contact__r.FirstName} + &quot; &quot; +{!$Record.IATSPayment__Contact__r.LastName}  + &quot;  - IATS &quot; +
 IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;Credit Card&quot;,&quot;CC&quot;,&quot;ACH&quot;) + &quot; CYF Donation &quot; +TEXT(DATEVALUE({!$Record.IATSPayment__Date__c}))</expression>
    </formulas>
    <formulas>
        <name>formula_38_myRule_55_A1_6816363618</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;ACH&quot;,&quot;ACH/Direct Debit&quot;,&quot;Credit Card&quot; )</expression>
    </formulas>
    <formulas>
        <name>formula_39_myRule_55_A1_1029653381</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c=&quot;Individual&quot;},&quot;Primary Contact&quot;,IF(CONTAINS({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c},&quot;Business&quot;),&quot;Account&quot;,&quot;No tax receipt&quot; ))</expression>
    </formulas>
    <formulas>
        <name>formula_3_myRule_11_A3_4316672177</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c}, 18)</expression>
    </formulas>
    <formulas>
        <name>formula_40_myRule_60_A1_7015043911</name>
        <dataType>String</dataType>
        <expression>{!$Record.IATSPayment__Contact__r.FirstName} + &quot; &quot; +{!$Record.IATSPayment__Contact__r.LastName}  + &quot;  - IATS &quot; +
 IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;Credit Card&quot;,&quot;CC&quot;,&quot;ACH&quot;) + &quot; CDF Donation &quot; +TEXT(DATEVALUE({!$Record.IATSPayment__Date__c}))</expression>
    </formulas>
    <formulas>
        <name>formula_41_myRule_60_A1_9835252461</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;ACH&quot;,&quot;ACH/Direct Debit&quot;,&quot;Credit Card&quot; )</expression>
    </formulas>
    <formulas>
        <name>formula_42_myRule_60_A1_6422324103</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c=&quot;Individual&quot;},&quot;Primary Contact&quot;,IF(CONTAINS({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c},&quot;Business&quot;),&quot;Account&quot;,&quot;No tax receipt&quot; ))</expression>
    </formulas>
    <formulas>
        <name>formula_43_myRule_65_A1_7630000757</name>
        <dataType>String</dataType>
        <expression>{!$Record.IATSPayment__Contact__r.FirstName} + &quot; &quot; +{!$Record.IATSPayment__Contact__r.LastName}  + &quot;  - IATS &quot; +
 IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;Credit Card&quot;,&quot;CC&quot;,&quot;ACH&quot;) + &quot; Donation &quot; +TEXT(DATEVALUE({!$Record.IATSPayment__Date__c}))</expression>
    </formulas>
    <formulas>
        <name>formula_44_myRule_65_A1_0055298063</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;ACH&quot;,&quot;ACH/Direct Debit&quot;,&quot;Credit Card&quot; )</expression>
    </formulas>
    <formulas>
        <name>formula_45_myRule_65_A1_7283864451</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c=&quot;Individual&quot;},&quot;Primary Contact&quot;,IF(CONTAINS({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c},&quot;Business&quot;),&quot;Account&quot;,&quot;No tax receipt&quot; ))</expression>
    </formulas>
    <formulas>
        <name>formula_46_myRule_70_A4_4187169460</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c}, 18)</expression>
    </formulas>
    <formulas>
        <name>formula_47_myRule_70_A3_1873180769</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c}, 18)</expression>
    </formulas>
    <formulas>
        <name>formula_48_myRule_70_A2_2775635858</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c}, 18)</expression>
    </formulas>
    <formulas>
        <name>formula_49_myRule_70_A1_4430501756</name>
        <dataType>String</dataType>
        <expression>{!$Record.IATSPayment__Contact__r.FirstName} + &quot; &quot; +{!$Record.IATSPayment__Contact__r.LastName}  + &quot;  - IATS &quot; +
 IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;Credit Card&quot;,&quot;CC&quot;,&quot;ACH&quot;) + &quot; Private Room Payment &quot; +TEXT(DATEVALUE({!$Record.IATSPayment__Date__c}))</expression>
    </formulas>
    <formulas>
        <name>formula_4_myRule_11_A2_0123664320</name>
        <dataType>String</dataType>
        <expression>{!$Record.IATSPayment__Contact__r.FirstName} + &quot; &quot; +{!$Record.IATSPayment__Contact__r.LastName}  + &quot;  - IATS &quot; +
 IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;Credit Card&quot;,&quot;CC&quot;,&quot;ACH&quot;) + &quot; Designated Payment &quot; +TEXT(DATEVALUE({!$Record.IATSPayment__Date__c}))</expression>
    </formulas>
    <formulas>
        <name>formula_50_myRule_70_A1_1867519166</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;ACH&quot;,&quot;ACH/Direct Debit&quot;,&quot;Credit Card&quot; )</expression>
    </formulas>
    <formulas>
        <name>formula_51_myRule_77_A3_9079191876</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c}, 18)</expression>
    </formulas>
    <formulas>
        <name>formula_52_myRule_77_A2_6565952187</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c}, 18)</expression>
    </formulas>
    <formulas>
        <name>formula_53_myRule_77_A1_1912975154</name>
        <dataType>String</dataType>
        <expression>{!$Record.IATSPayment__Contact__r.FirstName} + &quot; &quot; +{!$Record.IATSPayment__Contact__r.LastName}  + &quot;  - IATS &quot; +
 IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;Credit Card&quot;,&quot;CC&quot;,&quot;ACH&quot;) + &quot; Other Funds Payment &quot; +TEXT(DATEVALUE({!$Record.IATSPayment__Date__c}))</expression>
    </formulas>
    <formulas>
        <name>formula_54_myRule_77_A1_6036539409</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;ACH&quot;,&quot;ACH/Direct Debit&quot;,&quot;Credit Card&quot; )</expression>
    </formulas>
    <formulas>
        <name>formula_55_myRule_83_A1_6522888100</name>
        <dataType>String</dataType>
        <expression>{!$Record.IATSPayment__Opportunity__r.IATSPayment__IATS_Item_15__c}</expression>
    </formulas>
    <formulas>
        <name>formula_56_myRule_83_A1_9802810755</name>
        <dataType>String</dataType>
        <expression>{!$Record.IATSPayment__Contact__r.FirstName} + &quot; &quot; + {!$Record.IATSPayment__Contact__r.LastName} + &quot; - IATS &quot; + IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;Credit Card&quot;,&quot;CC&quot;,&quot;ACH&quot;) + &quot; CDF Donation &quot; + TEXT(DATEVALUE({!$Record.IATSPayment__Date__c}))</expression>
    </formulas>
    <formulas>
        <name>formula_57_myRule_83_A1_9173971884</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;ACH&quot;,&quot;ACH/Direct Debit&quot;,&quot;Credit Card&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_58_myRule_83_A1_6793777094</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c} = &quot;Individual&quot;,&quot;Primary Contact&quot;,IF(CONTAINS({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c},&quot;Business&quot;),&quot;Account&quot;,&quot;No Tax Receipt&quot;))</expression>
    </formulas>
    <formulas>
        <name>formula_59_myRule_89_A2_5283288850</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Record.IATSPayment__Opportunity__r.Name},&quot;Recurring&quot;),&quot;01u50000001KZPPAA4&quot;,&quot;01u50000001KqlbAAC&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_5_myRule_11_A2_2642353842</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;ACH&quot;,&quot;ACH/Direct Debit&quot;,&quot;Credit Card&quot; )</expression>
    </formulas>
    <formulas>
        <name>formula_60_myRule_89_A1_6644565545</name>
        <dataType>String</dataType>
        <expression>{!$Record.IATSPayment__Contact__r.FirstName} + &quot; &quot; + {!$Record.IATSPayment__Contact__r.LastName} + &quot; - IATS &quot; + IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;Credit Card&quot;,&quot;CC&quot;,&quot;ACH&quot;) + &quot; LoveLegacy &quot; + TEXT(DATEVALUE({!$Record.IATSPayment__Date__c}))</expression>
    </formulas>
    <formulas>
        <name>formula_61_myRule_89_A1_4487571561</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Method_of_Payment__c} == &quot;ACH&quot;,&quot;ACH/Direct Debit&quot;,&quot;Credit Card&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_62_myRule_89_A1_7950242158</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c} = &quot;Individual&quot;,&quot;Primary Contact&quot;,IF(CONTAINS({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c},&quot;Business&quot;),&quot;Account&quot;,&quot;No Tax Receipt&quot;))</expression>
    </formulas>
    <formulas>
        <name>formula_6_myRule_11_A2_4482206529</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c=&quot;Individual&quot;},&quot;Primary Contact&quot;,IF(CONTAINS({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c},&quot;Business&quot;),&quot;Account&quot;,&quot;No tax receipt&quot; ))</expression>
    </formulas>
    <formulas>
        <name>formula_7_myRule_11_A2_6966904164</name>
        <dataType>String</dataType>
        <expression>IF(OR({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c=&quot;Individual&quot;},{!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c=&quot;Business&quot;}), &quot;Donation&quot;, IF({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c=&quot;Payment&quot;},&quot;Payment&quot;,IF(CONTAINS({!$Record.IATSPayment__Opportunity__r.IATSPayment__Item2__c},&quot;Fundraising Event&quot;),&quot;Proceeds from Fundraising&quot;,&quot;Non-Receiptable&quot; )))</expression>
    </formulas>
    <formulas>
        <name>formula_8_myRule_11_A1_8961744501</name>
        <dataType>String</dataType>
        <expression>{!$Record.IATSPayment__Opportunity__r.School_Contract_Comments__c}</expression>
    </formulas>
    <formulas>
        <name>formula_9_myRule_11_A1_4593313363</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IATSPayment__Credit_Card__c} == null,&quot;Direct Debit&quot;,&quot;Credit Card&quot;)</expression>
    </formulas>
    <label>Donation Processing - iATS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>myRule_11_A1</name>
        <label>New Payemtn_Reg</label>
        <locationX>578</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>myRule_11_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Amount_currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>formula_8_myRule_11_A1_8961744501</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donation_Opportunity__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donation_Privacy__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__r.IATSPayment__Item6__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <elementReference>formula_9_myRule_11_A1_4593313363</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123000000091tJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration__c</field>
            <value>
                <elementReference>formula_10_myRule_11_A1_0607492598</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Reciept_Required__c</field>
            <value>
                <elementReference>formula_11_myRule_11_A1_4283527977</elementReference>
            </value>
        </inputAssignments>
        <object>Payment1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_22_A1</name>
        <label>Payment_project</label>
        <locationX>842</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>myRule_22_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Amount_currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__r.School_Contract_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donation_Opportunity__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donation_Privacy__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__r.IATSPayment__Item6__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <elementReference>formula_19_myRule_22_A1_9035537494</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>formula_20_myRule_22_A1_2663885929</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123000000091tJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Reciept_Required__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Payment1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_22_A4</name>
        <label>Add Product</label>
        <locationX>842</locationX>
        <locationY>1979</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>formula_12_myRule_22_A4_5320724172</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>$Record.IATSPayment__Amount_currency__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_33_A1</name>
        <label>Payment_Event</label>
        <locationX>1106</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>myRule_33_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Amount_currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>formula_26_myRule_33_A1_2771234559</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donation_Opportunity__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donation_Privacy__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__r.IATSPayment__Item6__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extra_Event_Fundraising__c</field>
            <value>
                <elementReference>formula_27_myRule_33_A1_4745362541</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <elementReference>formula_28_myRule_33_A1_8473288558</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123000000091tJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Reciept_Required__c</field>
            <value>
                <elementReference>formula_29_myRule_33_A1_0483566484</elementReference>
            </value>
        </inputAssignments>
        <object>Payment1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_65_A2</name>
        <label>Add Product</label>
        <locationX>2426</locationX>
        <locationY>2411</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u50000001KZL8AAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__r.Amount</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_70_A4</name>
        <label>Create Payment Record</label>
        <locationX>2690</locationX>
        <locationY>2735</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Amount_currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donation_Opportunity__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123000000091tO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration__c</field>
            <value>
                <elementReference>formula_46_myRule_70_A4_4187169460</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Reciept_Required__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Payment1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_77_A3</name>
        <label>Payment Record Creation</label>
        <locationX>2954</locationX>
        <locationY>2735</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Amount_currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donation_Opportunity__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123000000091tO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration__c</field>
            <value>
                <elementReference>formula_51_myRule_77_A3_9079191876</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Reciept_Required__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Payment1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_89_A2</name>
        <label>Add Product</label>
        <locationX>3482</locationX>
        <locationY>2843</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>formula_59_myRule_89_A2_5283288850</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__r.Amount</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>myRule_11_A2</name>
        <label>Update Opp</label>
        <locationX>578</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>myRule_11_A3</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.IATSPayment__Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_4_myRule_11_A2_0123664320</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>formula_5_myRule_11_A2_2642353842</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125000000097vL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Receipt_by_Email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_reciept_sent_to__c</field>
            <value>
                <elementReference>formula_6_myRule_11_A2_4482206529</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Funds__c</field>
            <value>
                <elementReference>formula_7_myRule_11_A2_6966904164</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.IATSPayment__Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_22_A2</name>
        <label>Update Opp</label>
        <locationX>842</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>myRule_22_A3</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.IATSPayment__Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <elementReference>formula_14_myRule_22_A2_7020715566</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_15_myRule_22_A2_9419294952</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>formula_16_myRule_22_A2_2404696803</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123000000091zq</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Receipt_by_Email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_reciept_sent_to__c</field>
            <value>
                <elementReference>formula_17_myRule_22_A2_6150928347</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Funds__c</field>
            <value>
                <elementReference>formula_18_myRule_22_A2_3597005396</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.IATSPayment__Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_33_A2</name>
        <label>Update Opp</label>
        <locationX>1106</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>myRule_33_A3</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.IATSPayment__Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_22_myRule_33_A2_9416984523</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>formula_23_myRule_33_A2_6745137848</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125000000097vL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Receipt_by_Email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_reciept_sent_to__c</field>
            <value>
                <elementReference>formula_24_myRule_33_A2_9565371824</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Funds__c</field>
            <value>
                <elementReference>formula_25_myRule_33_A2_1629572869</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.IATSPayment__Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_44_A1</name>
        <label>Opportunity Update</label>
        <locationX>1370</locationX>
        <locationY>1871</locationY>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <stringValue>Gala 2024 With Love</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation__c</field>
            <value>
                <stringValue>our &apos;With Love Gala&apos;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_30_myRule_44_A1_1200788552</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>formula_31_myRule_44_A1_6104356476</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123000000091zq</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_reciept_sent_to__c</field>
            <value>
                <elementReference>formula_32_myRule_44_A1_9527361351</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Funds__c</field>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.IATSPayment__Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_49_A1</name>
        <label>Opportunity Update</label>
        <locationX>1634</locationX>
        <locationY>1979</locationY>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <elementReference>formula_33_myRule_49_A1_4304732118</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <dateValue>2024-10-03</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation__c</field>
            <value>
                <elementReference>formula_34_myRule_49_A1_2606548696</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <dateValue>2024-10-03</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_35_myRule_49_A1_5735044833</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>formula_36_myRule_49_A1_2470036640</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123000000091zq</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_reciept_sent_to__c</field>
            <value>
                <stringValue>No tax receipt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Funds__c</field>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.IATSPayment__Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_55_A1</name>
        <label>Update Opportunity</label>
        <locationX>1898</locationX>
        <locationY>2087</locationY>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <stringValue>School Assemblies</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation__c</field>
            <value>
                <stringValue>LiveDifferent&apos;s Canadian Youth Fund</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_37_myRule_55_A1_8758787042</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>formula_38_myRule_55_A1_6816363618</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123000000091zq</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Receipt_by_Email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_reciept_sent_to__c</field>
            <value>
                <elementReference>formula_39_myRule_55_A1_1029653381</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Funds__c</field>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.IATSPayment__Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_60_A1</name>
        <label>Update Opp</label>
        <locationX>2162</locationX>
        <locationY>2195</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.IATSPayment__Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation__c</field>
            <value>
                <stringValue>Live Different&apos;s Community Development Fund</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_40_myRule_60_A1_7015043911</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>formula_41_myRule_60_A1_9835252461</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123000000091zq</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Receit_Required__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_reciept_sent_to__c</field>
            <value>
                <elementReference>formula_42_myRule_60_A1_6422324103</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Funds__c</field>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.IATSPayment__Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_65_A1</name>
        <label>Update TAX RECEIPT info</label>
        <locationX>2426</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>myRule_65_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.IATSPayment__Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation__c</field>
            <value>
                <stringValue>Live Different</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_43_myRule_65_A1_7630000757</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>formula_44_myRule_65_A1_0055298063</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123000000091zq</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Receipt_by_Email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_reciept_sent_to__c</field>
            <value>
                <elementReference>formula_45_myRule_65_A1_7283864451</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Funds__c</field>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.IATSPayment__Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_6_A1</name>
        <label>Update Contact Owner ID</label>
        <locationX>709</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>myRule_6_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00530000000or2U</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.IATSPayment__Contact__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_6_A2</name>
        <label>Update Account Owner ID</label>
        <locationX>709</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>myRule_8</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00530000000or2U</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.IATSPayment__Contact__r.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_70_A1</name>
        <label>Update Opportunity</label>
        <locationX>2690</locationX>
        <locationY>2411</locationY>
        <connector>
            <targetReference>myRule_70_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>Designation__c</field>
            <value>
                <stringValue>Live Different (private room payment)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_49_myRule_70_A1_4430501756</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>formula_50_myRule_70_A1_1867519166</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125000000097vL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_reciept_sent_to__c</field>
            <value>
                <stringValue>No tax receipt</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.IATSPayment__Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_77_A1</name>
        <label>Opportunity Update</label>
        <locationX>2954</locationX>
        <locationY>2519</locationY>
        <connector>
            <targetReference>myRule_77_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>Designation__c</field>
            <value>
                <stringValue>Non-Receipted Payment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_53_myRule_77_A1_1912975154</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>formula_54_myRule_77_A1_6036539409</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125000000097vL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_reciept_sent_to__c</field>
            <value>
                <stringValue>No tax receipt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Funds__c</field>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.IATSPayment__Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_83_A1</name>
        <label>Update Opportunity</label>
        <locationX>3218</locationX>
        <locationY>2627</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.IATSPayment__Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>formula_55_myRule_83_A1_6522888100</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__r.IATSPayment__IATS_Item_14__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation__c</field>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__r.IATSPayment__Item5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_56_myRule_83_A1_9802810755</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>formula_57_myRule_83_A1_9173971884</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123000000091zq</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Receit_Required__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_reciept_sent_to__c</field>
            <value>
                <elementReference>formula_58_myRule_83_A1_6793777094</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Funds__c</field>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.IATSPayment__Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_89_A1</name>
        <label>Update Opportunity</label>
        <locationX>3482</locationX>
        <locationY>2735</locationY>
        <connector>
            <targetReference>myRule_89_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.IATSPayment__Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>7012J000001J3CQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <stringValue>Love Legacy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation__c</field>
            <value>
                <stringValue>LoveLegacy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_60_myRule_89_A1_6644565545</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>formula_61_myRule_89_A1_4487571561</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123000000091zq</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Receit_Required__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_reciept_sent_to__c</field>
            <value>
                <elementReference>formula_62_myRule_89_A1_7950242158</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Funds__c</field>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.IATSPayment__Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_8_A1</name>
        <label>Update Account Address</label>
        <locationX>709</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>myRule_11</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.IATSPayment__Payer_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.IATSPayment__Payer_Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.IATSPayment__Payer_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.IATSPayment__Payer_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_2_myRule_8_A1_4965490916</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.IATSPayment__Contact__r.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>319</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>IATSPayment__Transaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>myRule_11_A3</name>
        <label>Update Donation Class</label>
        <locationX>578</locationX>
        <locationY>1763</locationY>
        <flowName>Update_Class_Donation</flowName>
        <inputAssignments>
            <name>OppID</name>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RegID</name>
            <value>
                <elementReference>formula_3_myRule_11_A3_4316672177</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>myRule_22_A3</name>
        <label>Proj Designation</label>
        <locationX>842</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>myRule_22_A4</targetReference>
        </connector>
        <flowName>DesignationPREV</flowName>
        <inputAssignments>
            <name>DonationType</name>
            <value>
                <stringValue>Project</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppID</name>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectID</name>
            <value>
                <elementReference>formula_13_myRule_22_A3_5151346106</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>myRule_33_A3</name>
        <label>EventDesignation</label>
        <locationX>1106</locationX>
        <locationY>1979</locationY>
        <flowName>DesignationPREV</flowName>
        <inputAssignments>
            <name>DonationType</name>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EventID</name>
            <value>
                <elementReference>formula_21_myRule_33_A3_5811172743</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppID</name>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>myRule_3_A1</name>
        <label>New Account</label>
        <locationX>709</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>myRule_6</targetReference>
        </connector>
        <flowName>Create_New_Account</flowName>
        <inputAssignments>
            <name>AccountName</name>
            <value>
                <elementReference>formula_1_myRule_3_A1_0597637373</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactID</name>
            <value>
                <elementReference>$Record.IATSPayment__Contact__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>myRule_70_A2</name>
        <label>Private Registration Confirm</label>
        <locationX>2690</locationX>
        <locationY>2519</locationY>
        <connector>
            <targetReference>myRule_70_A3</targetReference>
        </connector>
        <flowName>Private_Room_Confirm</flowName>
        <inputAssignments>
            <name>RegistrationID</name>
            <value>
                <elementReference>formula_48_myRule_70_A2_2775635858</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>myRule_70_A3</name>
        <label>Update Payment Class</label>
        <locationX>2690</locationX>
        <locationY>2627</locationY>
        <connector>
            <targetReference>myRule_70_A4</targetReference>
        </connector>
        <flowName>Update_Class_Donation</flowName>
        <inputAssignments>
            <name>OppID</name>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RegID</name>
            <value>
                <elementReference>formula_47_myRule_70_A3_1873180769</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>myRule_77_A2</name>
        <label>Update Class Donation</label>
        <locationX>2954</locationX>
        <locationY>2627</locationY>
        <connector>
            <targetReference>myRule_77_A3</targetReference>
        </connector>
        <flowName>Update_Class_Donation</flowName>
        <inputAssignments>
            <name>OppID</name>
            <value>
                <elementReference>$Record.IATSPayment__Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RegID</name>
            <value>
                <elementReference>formula_52_myRule_77_A2_6565952187</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
