force-app/main/default/main/default/flows/Build_RE_DRAW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parent_Email</name>
        <label>Parent_Email</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Parent_Email__c},{!$Record.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue> Builds draw approval for {!$Record.FirstName}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ParentEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>{!$Record.Lead.Id}{!$Record.Contact.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>ids</name>
        <dataType>String</dataType>
        <expression>if(ISBLANK({!$Record.Lead.Id}),{!$Record.Contact.Owner.Id},{!$Record.Lead.Owner:User.Id})</expression>
    </formulas>
    <interviewLabel>Build RE-DRAW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Build RE-DRAW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Owner</name>
        <label>Owner</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Email</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead.Owner:User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draw Entered</stringValue>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>701ON000006TuszYAC</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X10_mins</name>
            <connector>
                <targetReference>Owner</targetReference>
            </connector>
            <label>10 mins</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ParentEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Parent_First_Name__c},&lt;/p&gt;&lt;p&gt;This is {!Owner.FirstName} from LiveDifferent - a Canadian youth charity. {!$Record.FirstName} has entered a draw for a $500 bursary to a LiveDifferent Build.&lt;/p&gt;&lt;p&gt;Builds are life-changing ~9-day trips for students to the Dominican Republic or Mexico where they join in building a house with a family in need. While volunteering on a Build, students experience personal growth, create meaningful connections with each other and the local community members, and learn about new cultures, all in a welcoming, safe environment.&lt;/p&gt;&lt;p&gt;Learn more about Builds &lt;a href=&quot;https://livedifferent.com/programs/builds/parents&quot;&gt;HERE&lt;/a&gt;&lt;/p&gt;&lt;p&gt;To ensure that the bursary is more likely to go to a student who will be able to use it, we are requesting parent/guardian approval.&lt;/p&gt;&lt;p&gt;Click &lt;strong&gt;&lt;a href=&quot;
https://www.tfaforms.com/forms/view/5105297?tfa_1={!$Record.FirstName}&amp;tfa_7={!$Record.LastName}&amp;tfa_3={!$Record.Parent_First_Name__c}&amp;tfa_10={!$Record.Parent_Email__c}&amp;tfa_11={!$Record.Id}&quot;&gt;HERE&lt;/a&gt; to approve {!$Record.FirstName} to enter the draw.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;The draws will take place on Jan 26, 2024, and we will be in contact if {!$Record.FirstName} is selected.&lt;/p&gt;&lt;p&gt;Please feel free to reach out if you have any questions!&lt;/p&gt;&lt;p&gt;{!Owner.FirstName} {!Owner.LastName}&lt;br&gt;LiveDifferent&lt;br&gt;1-866-432-4464&lt;/p&gt;</text>
    </textTemplates>
</Flow>
