force-app/main/default/main/default/flows/Campaign_Values_to_Make_com_Wordpress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>cam</name>
        <label>cam</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <actionName>Opportunity.Campaign_ID_for_Dollars_to_Make_com</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>Update_Campaign_Member2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Opportunity.Campaign_ID_for_Dollars_to_Make_com</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>check_if_Xmas_2024_campaign</name>
        <label>check if Xmas 2024 campaign</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Xmas_2024_campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>701ON00000LJ39WYAT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Campaign_Member2</targetReference>
            </connector>
            <label>Xmas 2024 campaign</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Campaign Values to Make.com / Wordpress {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign Values to Make.com / Wordpress AND Set Member Status Responded</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_Campaign_Member2</name>
        <label>Update Xmas 2024 Donor List Campaign</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>1 AND (2 or (3 and 4))</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>701ON00000LZTxWYAX</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_Survey__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_Survey__r.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_Member2</name>
        <label>Update Campaign Member2</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>check_if_Xmas_2024_campaign</targetReference>
        </connector>
        <filterLogic>1 AND (2 or (3 and 4))</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_Survey__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_Survey__r.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>cam</targetReference>
        </connector>
        <filterFormula>not(ISBLANK({!$Record.Campaign.Wordpress_Post_ID__c}))</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
