force-app/main/default/main/default/flows/Chatter_Post.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>243</locationX>
        <locationY>466</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>0F950000000DGLo</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>MessagePost</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>ObjectID</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Contact_Or_Lead</name>
        <label>Contact Or Lead</label>
        <locationX>202</locationX>
        <locationY>160</locationY>
        <defaultConnector>
            <targetReference>Lookup_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lookup Lead</defaultConnectorLabel>
        <rules>
            <name>ReturnContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_Chatter</targetReference>
            </connector>
            <label>ReturnContact</label>
        </rules>
    </decisions>
    <formulas>
        <name>MessagePost</name>
        <dataType>String</dataType>
        <expression>IF({!ObjectID} = NULL,&quot;An unidentified message was received from &quot; + {!MobilePhone} + &quot;: &quot; + {!Message},{!FirstName} + &quot; sent an sms from &quot; + {!MobilePhone} + &quot;: &quot; + {!Message} + &quot;https://livedifferent.lightning.force.com/&quot; + {!ObjectID})</expression>
    </formulas>
    <formulas>
        <name>PhoneLookup</name>
        <dataType>String</dataType>
        <expression>&quot;(&quot;&amp; MID(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE( {!MobilePhone} , &quot;.&quot;, &apos;&apos;),&quot;-&quot;,&quot;&quot;),&quot;+&quot;,&quot;&quot;),1,3) &amp; &quot;) &quot;&amp; MID(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE( {!MobilePhone} , &quot;.&quot;, &apos;&apos;),&quot;-&quot;,&quot;&quot;),&quot;+&quot;,&quot;&quot;),4,3)&amp; &quot;-&quot; &amp; MID(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE( {!MobilePhone} , &quot;.&quot;, &apos;&apos;),&quot;-&quot;,&quot;&quot;),&quot;+&quot;,&quot;&quot;),7,4)</expression>
    </formulas>
    <interviewLabel>Chatter Post {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chatter Post</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Contact</name>
        <label>Lookup Contact</label>
        <locationX>190</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Or_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PhoneLookup</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ObjectID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <sortField>LastActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Lead</name>
        <label>Lookup Lead</label>
        <locationX>396</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PhoneLookup</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ObjectID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <sortField>LastActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <startElementReference>Lookup_Contact</startElementReference>
    <status>Active</status>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Jane</stringValue>
        </value>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Doe</stringValue>
        </value>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>blank</stringValue>
        </value>
    </variables>
    <variables>
        <name>MobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>9057300786</stringValue>
        </value>
    </variables>
    <variables>
        <name>ObjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0981234</stringValue>
        </value>
    </variables>
</Flow>
