force-app/main/default/main/default/flows/Circles_Opp_Sum_attendance_from_assembly_program_activities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>add</name>
        <label>add</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>total_attendance</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Attendance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Circles Opp: Sum attendance from assembly program activities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Circles Opp: Sum attendance from assembly program activities</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_all_Assembly_activities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_opp_attendance_field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Assembly_activities</name>
        <label>Get all Assembly activities</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_Activity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-Person Presentation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_opp_attendance_field</name>
        <label>update opp attendance field</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Think_Fast_of_participants__c</field>
            <value>
                <elementReference>total_attendance</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Assembly_activities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_Activity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-Person Presentation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Attendance__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Program_Activity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>total_attendance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
