force-app/main/default/main/default/flows/Circles_Assembly_Contract_Reminders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_send_email</name>
        <label>Copy 1 of send email</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Contact_Survey__r.Email},{!$Record.Owner.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subject_line</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>email_template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact_Survey__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_send_email</name>
        <label>Copy 2 of send email</label>
        <locationX>1106</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Contact_Survey__r.Email},{!$Record.Owner.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subject_line</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>email_template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact_Survey__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_send_email</name>
        <label>Copy 3 of send email</label>
        <locationX>1634</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Contact_Survey__r.Email},{!$Record.Owner.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subject_line</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>email_template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact_Survey__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_4_of_send_email</name>
        <label>Copy 4 of send email</label>
        <locationX>2162</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Contact_Survey__r.Email},{!$Record.Owner.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subject_line</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>email_template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact_Survey__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_5_of_send_email</name>
        <label>Copy 5 of send email</label>
        <locationX>2690</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Contact_Survey__r.Email},{!$Record.Owner.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subject_line</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>email_template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact_Survey__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_6_of_send_email</name>
        <label>Copy 6 of send email</label>
        <locationX>3218</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Contact_Survey__r.Email},{!$Record.Owner.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subject_line</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>email_template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact_Survey__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>send_email</name>
        <label>send email</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Contact_Survey__r.Email},{!$Record.Owner.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subject_line</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>email_template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact_Survey__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>asdf</name>
        <label>greater than 3.5 months</label>
        <locationX>710</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>greater_than_3_5_months</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>x3_5monthsgreater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>one_week_after_contract_send</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>x2_mins_after_flow_trigger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_email</targetReference>
            </connector>
            <label>greater than 3.5 months</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_not_in_past</name>
        <label>Copy 1 of not in past</label>
        <locationX>1766</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_not_past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>two_weeks_after_contact_send</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>x2_mins_after_flow_trigger</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_send_email</targetReference>
            </connector>
            <label>Copy 1 of not past</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_not_in_past</name>
        <label>Copy 2 of not in past</label>
        <locationX>2294</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_not_past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>two_weeks_after_contact_send</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>x2_mins_after_flow_trigger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_send_email</targetReference>
            </connector>
            <label>Copy 2 of not past</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_not_in_past</name>
        <label>Copy 3 of not in past</label>
        <locationX>2822</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_not_past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>two_weeks_after_contact_send</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>invoice_date_more_than_2weeks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>x2_mins_after_flow_trigger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_send_email</targetReference>
            </connector>
            <label>Copy 3 of not past</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_not_in_past</name>
        <label>Copy 4 of not in past</label>
        <locationX>3350</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_not_past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>two_weeks_after_contact_send</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>invoice_date_more_than_2weeks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>x2_mins_after_flow_trigger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_send_email</targetReference>
            </connector>
            <label>Copy 4 of not past</label>
        </rules>
    </decisions>
    <decisions>
        <name>not_in_past</name>
        <label>not in past</label>
        <locationX>1238</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>two_weeks_after_contact_send</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>x2_mins_after_flow_trigger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_send_email</targetReference>
            </connector>
            <label>not past</label>
        </rules>
    </decisions>
    <decisions>
        <name>testt</name>
        <label>test</label>
        <locationX>182</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>trestte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ryan Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_send_email</targetReference>
            </connector>
            <label>trest</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>contact_and_or_planning_call</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.StageName},&quot;Booking Confirmed / Contract sent&quot;), 
   &apos;&lt;li&gt;&lt;strong&gt;Fill out the School Contract&lt;/strong&gt; &lt;a href=&quot;&apos; &amp; SUBSTITUTE(SUBSTITUTE({!$Record.School_Contract_Form__c}, &apos;_HL_ENCODED_&apos;, &apos;&apos;), &apos;_HL_&apos;, &apos;&apos;) &amp; &apos;&quot;&gt; &gt;&gt;HERE&lt;&lt; &lt;/a&gt; When completed this will generate an invoice.&lt;/li&gt;&apos;, 
   &apos;&apos;) &amp; 
IF(NOT({!$Record.Planning_call_complete__c}), 
   &apos;&lt;li&gt;&lt;strong&gt;Book a Planning Meeting&lt;/strong&gt; with me in my calendar to discuss all the details. Click &lt;a href=&quot;&apos; &amp; {!$Record.Owner.Calendar_URL__c} &amp; &apos;&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt; &gt;&gt;HERE&lt;&lt; &lt;/a&gt; to choose a time that works for you!&lt;/li&gt;&apos;, 
   &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>invoice_date_more_than_2weeks</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Invoice_Date__c} + 14 &gt; {!date_sent_contract}</expression>
    </formulas>
    <formulas>
        <name>one_week_after_contract_send</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Flow.CurrentDate} - {!date_sent_contract} &gt; 6, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>subject_line</name>
        <dataType>String</dataType>
        <expression>&quot;LiveDifferent &quot; &amp; 
IF(
    ISPICKVAL({!$Record.StageName},&quot;Booking Confirmed / Contract sent&quot;) &amp;&amp; 
    {!$Record.Planning_call_complete__c}, 
    &quot;contract reminder&quot;, 
    IF(
        ISPICKVAL({!$Record.StageName},&quot;Booking Confirmed / Contract sent&quot;) &amp;&amp; 
        NOT({!$Record.Planning_call_complete__c}), 
        &quot;contract &amp; planning call reminder&quot;, 
        IF(
            NOT({!$Record.Planning_call_complete__c}), 
            &quot;planning call reminder&quot;, 
            &quot;&quot;
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>two_weeks_after_contact_send</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Flow.CurrentDate} - {!date_sent_contract} &gt; 14, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>x2_mins_after_flow_trigger</name>
        <dataType>Boolean</dataType>
        <expression>if({!$Flow.CurrentDateTime}-{!$Record.Flow_trigger_date_time__c} &gt;( 2/1440),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>x3_5monthsgreater</name>
        <dataType>Boolean</dataType>
        <expression>{!$Flow.CurrentDate} + 105 &gt; {!$Record.Invoice_Date__c}</expression>
    </formulas>
    <interviewLabel>Circles Assembly Contract Reminders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Circles Assembly Contract Reminders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_get_contract_date</name>
        <label>Copy 1 of get contract date</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asdf</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking Confirmed / Contract sent</stringValue>
            </value>
        </filters>
        <object>OpportunityHistory</object>
        <outputAssignments>
            <assignToReference>date_sent_contract</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_get_contract_date</name>
        <label>Copy 2 of get contract date</label>
        <locationX>1238</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>not_in_past</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking Confirmed / Contract sent</stringValue>
            </value>
        </filters>
        <object>OpportunityHistory</object>
        <outputAssignments>
            <assignToReference>date_sent_contract</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Copy_3_of_get_contract_date</name>
        <label>Copy 3 of get contract date</label>
        <locationX>1766</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_not_in_past</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking Confirmed / Contract sent</stringValue>
            </value>
        </filters>
        <object>OpportunityHistory</object>
        <outputAssignments>
            <assignToReference>date_sent_contract</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Copy_4_of_get_contract_date</name>
        <label>Copy 4 of get contract date</label>
        <locationX>2294</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_not_in_past</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking Confirmed / Contract sent</stringValue>
            </value>
        </filters>
        <object>OpportunityHistory</object>
        <outputAssignments>
            <assignToReference>date_sent_contract</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Copy_5_of_get_contract_date</name>
        <label>Copy 5 of get contract date</label>
        <locationX>2822</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_not_in_past</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking Confirmed / Contract sent</stringValue>
            </value>
        </filters>
        <object>OpportunityHistory</object>
        <outputAssignments>
            <assignToReference>date_sent_contract</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Copy_6_of_get_contract_date</name>
        <label>Copy 6 of get contract date</label>
        <locationX>3350</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_4_of_not_in_past</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking Confirmed / Contract sent</stringValue>
            </value>
        </filters>
        <object>OpportunityHistory</object>
        <outputAssignments>
            <assignToReference>date_sent_contract</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>get_contract_date</name>
        <label>get contract date</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>flow_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking Confirmed / Contract sent</stringValue>
            </value>
        </filters>
        <object>OpportunityHistory</object>
        <outputAssignments>
            <assignToReference>date_sent_contract</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>flow_date</name>
        <label>flow date</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>testt</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_trigger_date_time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_contract_date</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>2 AND (1 OR (3 AND 4)) AND 5 AND 6</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking Confirmed / Contract sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Presentation_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-Person Assembly</stringValue>
            </value>
        </filters>
        <filters>
            <field>Planning_call_complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Probability</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>90.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Invoice_Future_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AVSFQB__Generate_Object__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Re-trigger</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X2_weeks_after</name>
            <connector>
                <targetReference>Copy_1_of_get_contract_date</targetReference>
            </connector>
            <label>1 week after</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X3_months_before_opp</name>
            <connector>
                <targetReference>Copy_2_of_get_contract_date</targetReference>
            </connector>
            <label>3 months before opp</label>
            <offsetNumber>-3</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>Invoice_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_month_before</name>
            <connector>
                <targetReference>Copy_3_of_get_contract_date</targetReference>
            </connector>
            <label>1 month before</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>Invoice_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X3_weeks_before</name>
            <connector>
                <targetReference>Copy_4_of_get_contract_date</targetReference>
            </connector>
            <label>3 weeks before</label>
            <offsetNumber>-21</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Invoice_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2_weeks_before</name>
            <connector>
                <targetReference>Copy_5_of_get_contract_date</targetReference>
            </connector>
            <label>2 weeks before</label>
            <offsetNumber>-14</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Invoice_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_week_before</name>
            <connector>
                <targetReference>Copy_6_of_get_contract_date</targetReference>
            </connector>
            <label>1 week before</label>
            <offsetNumber>-7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Invoice_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>email_template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Contact_Survey__r.FirstName},&lt;/p&gt;
&lt;p&gt;I hope you’ve been well! Just a friendly reminder to complete the following:&lt;/p&gt;
&lt;ul&gt;{!contact_and_or_planning_call}&lt;/ul&gt;
&lt;p&gt;Let me know if you have any questions or concerns. Looking forward to connecting with you soon!&lt;/p&gt;
&lt;p&gt;Warm regards,&lt;br&gt;
{!$Record.Owner.FirstName}
&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>date_sent_contract</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
