force-app/main/default/main/default/flows/Circles_Person_Survey_Send.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_1_day_before_assembly</name>
        <label>Copy 1 of 1 day before assembly</label>
        <locationX>2074</locationX>
        <locationY>384</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Preview (sending {!$Record.Day_before_assembly__c}) LiveDifferent&apos;s visit—{!$Record.Invoice_Date_Text__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>one_day_before_w_menti</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_1_day_before_assembly</name>
        <label>Copy 1 of Copy 1 of 1 day before assembly</label>
        <locationX>1810</locationX>
        <locationY>384</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>NOT SENDING: {!$Record.Day_before_assembly__c}) LiveDifferent&apos;s visit—{!$Record.Invoice_Date_Text__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>one_day_before_w_menti</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_1_day_before_assembly</name>
        <label>Copy 1 of Copy 1 of Copy 1 of 1 day before assembly</label>
        <locationX>2602</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!$Record.Account.Account_nickname__c} Student Panel responses needed by {!four_days_before}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>student_panel_warning</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact_Survey__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_1_day_before_assembly</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of 1 day before assembly</label>
        <locationX>3394</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>PREVIEW Sends in 24 hours: {!$Record.Account.Account_nickname__c} Student Panel responses needed by {!four_days_before}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>student_panel_warning</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_2_of_Copy_1_of_Copy_1_of_Copy_1_of_1_day_before_assembly</name>
        <label>Copy 1 of Copy 2 of Copy 1 of Copy 1 of Copy 1 of 1 day before assembly</label>
        <locationX>2866</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!$Record.Account.Account_nickname__c} Teacher Recognition during LiveDifferent Assembly</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>teacher_recognition_form_email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact_Survey__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Copy_1_of_Copy_1_of_Copy_1_of_1_day_before_assembly</name>
        <label>Copy 2 of Copy 1 of Copy 1 of Copy 1 of 1 day before assembly</label>
        <locationX>4186</locationX>
        <locationY>384</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!$Record.Account.Account_nickname__c} Teacher Recognition during LiveDifferent Assembly</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>teacher_recognition_form_email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact_Survey__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_1_day_before_assembly</name>
        <label>Copy 2 of Copy 1 of Copy 1 of Copy 1 of Copy 1 of 1 day before assembly</label>
        <locationX>3658</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>PREVIEW Sends in 24 hours: {!$Record.Account.Account_nickname__c} Teacher Recognition during LiveDifferent Assembly</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>teacher_recognition_form_email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>email_survey_0_0</name>
        <label>email_survey</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>survey_status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Contact_Survey__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Quick check-in</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>survey_email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact_Survey__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>email_survey_0_0_0</name>
        <label>email_survey</label>
        <locationX>754</locationX>
        <locationY>384</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>(Sending in 4 hours to: {!$Record.Contact_Survey__r.Full_Name__c}) Quick check-in</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>survey_email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>three_words_poll_preview</name>
        <label>three words poll preview</label>
        <locationX>3526</locationX>
        <locationY>384</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_4_of_has_student_panel</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>(24 hours Preview) {!$Record.Account.Account_nickname__c} Student poll for assembly</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>three_words_survey_form</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>three_words_survey_email</name>
        <label>three words survey email</label>
        <locationX>2734</locationX>
        <locationY>384</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>has_student_panel</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!$Record.Account.Account_nickname__c} Student poll for assembly</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>three_words_survey_form</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact_Survey__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>X1_day_before_assembly</name>
        <label>1 day before assembly</label>
        <locationX>1282</locationX>
        <locationY>384</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>LiveDifferent&apos;s visit—{!$Record.Invoice_Date_Text__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>one_day_before_w_menti</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact_Survey__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>X2_day_teacher_reg_email_preview</name>
        <label>2 day teacher reg email preview</label>
        <locationX>4714</locationX>
        <locationY>384</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>PREVIEW Sends in 24 hours: {!$Record.Account.Account_nickname__c} Teacher Recognition during LiveDifferent Assembly</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>teacher_recognition_form_email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Copy_1_of_Form_for_3_words</name>
        <label>Copy 1 of Form for 3 words</label>
        <locationX>3658</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Copy_4_of_has_student_panel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Using_form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Menti__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined - Using Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>two_mins_after_trigger_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>three_words_poll_preview</targetReference>
            </connector>
            <label>Copy 1 of Using form</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_no_retroactive_run</name>
        <label>Copy 1 of no retroactive run</label>
        <locationX>886</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_current_time_greater_than_interview_time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>two_mins_after_trigger_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>email_survey_0_0_0</targetReference>
            </connector>
            <label>Copy 1 of current time greater than interview time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_not_today</name>
        <label>Copy 1 of not today</label>
        <locationX>2074</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>stopped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Survey_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>queued: stop day-before email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>two_mins_after_trigger_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_1_day_before_assembly</targetReference>
            </connector>
            <label>stopped</label>
        </rules>
        <rules>
            <name>Copy_1_of_not_today1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Day_before_assembly__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>two_mins_after_trigger_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_1_day_before_assembly</targetReference>
            </connector>
            <label>Copy 1 of not today1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Copy_3_of_has_student_panel</name>
        <label>Copy 2 of Copy 3 of has student panel</label>
        <locationX>4846</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Copy_2_of_text_response_email</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>two_mins_after_trigger_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>invoice_Date_minus_flow_date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doing form/text version</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_day_teacher_reg_email_preview</targetReference>
            </connector>
            <label>Copy 2 of Copy 2 of text response email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_has_student_panel</name>
        <label>Copy 3 of has student panel</label>
        <locationX>4318</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_text_response_email</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>two_mins_after_trigger_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>invoice_Date_minus_flow_date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doing form/text version</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Copy_1_of_Copy_1_of_1_day_before_assembly</targetReference>
            </connector>
            <label>Copy 2 of text response email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_has_student_panel</name>
        <label>Copy 4 of has student panel</label>
        <locationX>3658</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_has_panel</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Student_Panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Undecided</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>invoice_Date_minus_flow_date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>two_mins_after_trigger_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_1_day_before_assembly</targetReference>
            </connector>
            <label>Copy 3 of has panel</label>
        </rules>
        <rules>
            <name>Copy_3_of_text_response_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>two_mins_after_trigger_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>invoice_Date_minus_flow_date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doing form/text version</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_1_day_before_assembly</targetReference>
            </connector>
            <label>Copy 3 of text response email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Form_for_3_words</name>
        <label>Form for 3 words</label>
        <locationX>2866</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>has_student_panel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Using_form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Menti__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined - Using Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>three_words_survey_email</targetReference>
            </connector>
            <label>Using form</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_student_panel</name>
        <label>has student panel</label>
        <locationX>2866</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_panel</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Student_Panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Undecided</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>invoice_Date_minus_flow_date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>two_mins_after_trigger_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_1_day_before_assembly</targetReference>
            </connector>
            <label>has panel</label>
        </rules>
        <rules>
            <name>text_response_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>two_mins_after_trigger_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>invoice_Date_minus_flow_date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doing form/text version</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_Copy_1_of_Copy_1_of_Copy_1_of_1_day_before_assembly</targetReference>
            </connector>
            <label>text response email</label>
        </rules>
    </decisions>
    <decisions>
        <name>no_retroactive_run</name>
        <label>no retroactive run</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>survey_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no_retroactive_runs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>two_mins_after_trigger_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>email_survey_0_0</targetReference>
            </connector>
            <label>current time greater than interview time</label>
        </rules>
    </decisions>
    <decisions>
        <name>not_today</name>
        <label>not today</label>
        <locationX>1414</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_today1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Day_before_assembly__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Survey_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>queued: stop day-before email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>two_mins_after_trigger_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_day_before_assembly</targetReference>
            </connector>
            <label>not today1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Altruism</name>
        <dataType>String</dataType>
        <expression>if(includes({!$Record.Circles_Topics__c},&quot;Altruism&quot;),&quot; Altruism&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ampersand1</name>
        <dataType>String</dataType>
        <expression>if(AND(includes({!$Record.Circles_Topics__c},&quot;Empathy&quot;),OR(includes({!$Record.Circles_Topics__c},&quot;Resilience&quot;),includes({!$Record.Circles_Topics__c},&quot;Altruism&quot;))),&quot; &amp; &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ampersand2</name>
        <dataType>String</dataType>
        <expression>if(AND(includes({!$Record.Circles_Topics__c},&quot;Resilience&quot;),includes({!$Record.Circles_Topics__c},&quot;Altruism&quot;)),&quot; &amp; &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>day_before_email_copy</name>
        <dataType>String</dataType>
        <expression>IF(
    ISPICKVAL({!$Record.Menti__c}, &quot;Approved&quot;),
    &quot;Just a reminder that we will be using Mentimeter live polling in portions of our Assembly, if you can please remind students to bring their phones.&quot; &amp;
    BR() &amp;
    &quot;Please ensure all teachers have the schedule for the day, and of course, let me know if you have any questions!&quot;,
    IF(
        ISPICKVAL({!$Record.Menti__c}, &quot;Declined - Using Form&quot;),
        &quot;As a reminder, here is the student poll that you can share with teachers (if you haven&apos;t yet) in advance of the presentation: &quot; &amp; 
        {!$Record.LD_com_redirection_link__c},
        &quot;If you have any questions before they arrive, please let me know&quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>day_of_week</name>
        <dataType>String</dataType>
        <expression>CASE(
  WEEKDAY({!$Record.Invoice_Date__c}), 
  1, &quot;Sunday&quot;,
  2, &quot;Monday&quot;,
  3, &quot;Tuesday&quot;,
  4, &quot;Wednesday&quot;,
  5, &quot;Thursday&quot;,
  6, &quot;Friday&quot;,
  &quot;Saturday&quot;
)</expression>
    </formulas>
    <formulas>
        <name>Empathy</name>
        <dataType>String</dataType>
        <expression>if(includes({!$Record.Circles_Topics__c},&quot;Empathy&quot;),&quot; Empathy&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>four_days_before</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH({!$Record.Invoice_Date__c}-4),
1, &quot;January&quot;,
2, &quot;February&quot;,
3, &quot;March&quot;,
4, &quot;April&quot;,
5, &quot;May&quot;,
6, &quot;June&quot;,
7, &quot;July&quot;,
8, &quot;August&quot;,
9, &quot;September&quot;,
10, &quot;October&quot;,
11, &quot;November&quot;,
12, &quot;December&quot;,
&quot;None&quot;)&amp;&quot; &quot;&amp;text(day({!$Record.Invoice_Date__c}-4))</expression>
    </formulas>
    <formulas>
        <name>Handout_Resource_URL</name>
        <dataType>String</dataType>
        <expression>if(includes({!$Record.Circles_Topics__c},&quot;Empathy&quot;),hyperlink(&quot;https://drive.google.com/uc?export=PDF&amp;id=1rXtz6XE4ISXELmwUkiIrJjIyveNewKU9&quot;,&quot;Empathy &quot;),&quot;&quot;)
&amp;
if(includes({!$Record.Circles_Topics__c},&quot;Resilience&quot;),hyperlink(&quot;https://drive.google.com/uc?export=PDF&amp;id=1rXtz6XE4ISXELmwUkiIrJjIyveNewKU9&quot;,&quot;Resilience &quot;),&quot;&quot;) 
&amp;
if(includes({!$Record.Circles_Topics__c},&quot;Altruism&quot;),hyperlink(&quot;https://drive.google.com/uc?export=PDF&amp;id=1rXtz6XE4ISXELmwUkiIrJjIyveNewKU9&quot;,&quot;Altruism&quot;),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>invoice_Date_minus_flow_date</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Invoice_Date__c}-{!$Flow.CurrentDate}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Pre_student_survey_link</name>
        <dataType>String</dataType>
        <expression>IF(
  ISPICKVAL({!$Record.Menti__c}, &quot;Declined - Using Form&quot;), 
  &quot;&lt;p&gt;Here is a link to survey you can send to students in advance. We use their answers as part of the assembly: &lt;a href=&apos;&quot; &amp; {!$Record.LD_com_redirection_link__c} &amp; &quot;&apos; target=&apos;_blank&apos;&gt;&quot; &amp; {!$Record.LD_com_redirection_link__c} &amp; &quot;&lt;/a&gt;&lt;/p&gt;&quot;,
  &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>Resilience</name>
        <dataType>String</dataType>
        <expression>if(includes({!$Record.Circles_Topics__c},&quot;Resilience&quot;),&quot; Resilience&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>nickname with full name fallback</description>
        <name>school_name</name>
        <dataType>String</dataType>
        <expression>if({!$Record.Account.Account_nickname__c}=&quot;&quot;,{!$Record.Account.Name},{!$Record.Account.Account_nickname__c})</expression>
    </formulas>
    <formulas>
        <name>School_Survey_URL</name>
        <dataType>String</dataType>
        <expression>{!$Record.Student_and_Staff_Survey_URL__c}</expression>
    </formulas>
    <formulas>
        <name>two_mins_after_trigger_date</name>
        <dataType>Boolean</dataType>
        <expression>if({!$Flow.CurrentDateTime}-{!$Record.Flow_trigger_date_time__c} &gt;( 2/1440),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>two_weeks_before_assembly</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Send_Date_TimeZone__c}-14</expression>
    </formulas>
    <interviewLabel>Circles Person Survey Send {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Circles Assemblies: In-Person Pre/Post Emails + Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>survey_status</name>
        <label>survey_status</label>
        <locationX>446</locationX>
        <locationY>576</locationY>
        <inputAssignments>
            <field>Survey_Status__c</field>
            <value>
                <stringValue>sent</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>survey_status_0</name>
        <label>survey_status</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <inputAssignments>
            <field>Flow_trigger_date_time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Status__c</field>
            <value>
                <stringValue>queued</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2322</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>survey_status_0</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>6 OR (1 and 2 and (3 or 5 or 8) and 4 and 7)</filterLogic>
        <filters>
            <field>Presentation_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-Person Assembly</stringValue>
            </value>
        </filters>
        <filters>
            <field>Probability</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>90.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Survey_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>queued</stringValue>
            </value>
        </filters>
        <filters>
            <field>Invoice_Future_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Survey_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ryan Test</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Host Venue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Survey_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>queued: stop day-before email</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Survey_Send_2pm_Local</name>
            <connector>
                <targetReference>no_retroactive_run</targetReference>
            </connector>
            <label>Survey_Send_2pm_Local</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Send_Date_TimeZone__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Survey_Send_Preview</name>
            <connector>
                <targetReference>Copy_1_of_no_retroactive_run</targetReference>
            </connector>
            <label>Survey_Send_Preview</label>
            <offsetNumber>-4</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Send_Date_TimeZone__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Workday_before_assembly</name>
            <connector>
                <targetReference>not_today</targetReference>
            </connector>
            <label>1 Workday before assembly</label>
            <offsetNumber>-3</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Day_before_assembly__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_Workday_preview</name>
            <connector>
                <targetReference>Copy_1_of_not_today</targetReference>
            </connector>
            <label>1 Workday preview</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Day_before_assembly__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2_weeks_before</name>
            <connector>
                <targetReference>Form_for_3_words</targetReference>
            </connector>
            <label>7 days before</label>
            <offsetNumber>-140</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Day_before_assembly__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_day_before_Panel_warning_preview</name>
            <connector>
                <targetReference>Copy_1_of_Form_for_3_words</targetReference>
            </connector>
            <label>1 day before 7 day Panel warning preview</label>
            <offsetNumber>-164</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Day_before_assembly__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2_days_before</name>
            <connector>
                <targetReference>Copy_3_of_has_student_panel</targetReference>
            </connector>
            <label>2 days before (accounts for weekend)</label>
            <offsetNumber>-26</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Day_before_assembly__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2_days_before_preview_Accounts_for_weekend</name>
            <connector>
                <targetReference>Copy_2_of_Copy_3_of_has_student_panel</targetReference>
            </connector>
            <label>2 days before preview (Accounts for weekend)</label>
            <offsetNumber>-50</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Day_before_assembly__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>one_day_before_w_menti</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Contact_Survey__r.FirstName},&lt;/p&gt;

&lt;p&gt;I’m so excited that LiveDifferent will be at {!school_name} on {!day_of_week}. {!day_before_email_copy}&lt;/p&gt;

&lt;p&gt;Warm regards,&lt;br&gt;
{!$Record.Owner.FirstName}&lt;br&gt;
{!$Record.Owner.MobilePhone}&lt;/p&gt;

&lt;p&gt;P.S. Here is an informational resource that you may wish to share with your school community: &lt;a href=&quot;https://drive.google.com/file/d/1x_j23Q4SYOUQLGoh53_PBiJCc1K1YY2W/view?usp=sharing&quot;&gt;LiveDifferent Resource&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>student_panel_warning</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Contact_Survey__r.FirstName},&lt;/p&gt;&lt;p&gt;I hope everything is going smoothly as you prepare for the upcoming LiveDifferent assembly. This is a friendly reminder that student panel video submissions are due by {!four_days_before}.&lt;/p&gt;&lt;p&gt;If we don&apos;t receive the videos by &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!four_days_before}&lt;/span&gt;, we won&apos;t be able to include the student panel in the assembly due to the time needed for video editing.&lt;/p&gt;&lt;h3&gt;Reminder on how to create your Student Panel:&lt;/h3&gt;&lt;ol&gt;&lt;li&gt;Nominate 3 students for the panel question.&lt;/li&gt;&lt;li&gt;Share &lt;a href=&quot;https://drive.google.com/uc?export=PDF&amp;amp;id=1HjsUzUeMHPQQEDdKfvpQPo5W-KL-fovI&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this PDF,&lt;/a&gt; &quot;Student Panel Instructions.pdf,&quot; with each student.&lt;/li&gt;&lt;li&gt;Pick a date &amp; time to meet with the three students to record and submit their video by clicking on the VideoAsk link &gt;&gt;&lt;a href=&quot;https://hello.livedifferent.com/fw4nef4xh&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;HERE&lt;/a&gt;&lt;&lt;. (This link also has a guide with instructions).&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;Thank you for your attention to this. We&apos;re excited to see what your students will share!&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;{!$Record.Owner.FirstName}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>survey_email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Contact_Survey__r.FirstName},&lt;/p&gt;&lt;p&gt;Thank you so much for having us at your school today! I will reach out in the next day or two (or book the time that works best for you &lt;a href=&quot;{!$Record.Owner.Calendar_URL__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;) to hear more about how things went, but I wanted to get these links over to you quickly:&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;a href=&quot;{!$Record.Main_Contact_Survey_URL__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Survey&lt;/a&gt; for you, as our main contact (we&apos;d love it if you share this link with other staff as well).&lt;/li&gt;&lt;li&gt;Survey for all &lt;a href=&quot;{!School_Survey_URL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;students&lt;/a&gt;.&lt;/li&gt;&lt;li&gt;Here is the link that students can use to take action on what they heard in the presentation: &lt;a href=&quot;http://livedifferent.com/next&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;http://livedifferent.com/next&lt;/a&gt;.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;We greatly appreciate you taking the time to share your feedback, and for sharing these links with your school community, as hearing feedback directly from students and staff is crucial to the improvement of our youth empowerment programs.&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;{!$Record.Owner.FirstName}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>teacher_recognition_form_email</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Contact_Survey__r.FirstName},&lt;/p&gt;&lt;p&gt;I hope everything is going smoothly as you prepare for the upcoming LiveDifferent assembly. As part of our upcoming presentation on {!$Record.Invoice_Date_Text__c}, we have a segment where we&apos;d like to acknowledge and honour a teacher/staff member. To help us achieve this, we ask your help with the following:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Please nominate a group of 3 students that will nominate a staff and each share one thought&lt;/li&gt;&lt;li&gt;Have them meet for a few minutes and fill out &lt;a href=&quot;https://www.tfaforms.com/5144044?tfa_1={!$Record.Account.Name}&amp;amp;tfa_26={!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this form&lt;/a&gt; together!&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Thank you for your attention to this. We&apos;re excited to see what your students will share!&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;{!$Record.Owner.FirstName}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>three_words_survey_form</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Contact_Survey__r.FirstName},&lt;/p&gt;&lt;p&gt;Since cell phones will not be used during the Assembly, I’ve created a form for students to answer the question we would have asked live. The responses will remain anonymous, and we&apos;ll display the collective answers in a word cloud during the event.&lt;/p&gt;&lt;p&gt;Could you please forward the following link to the teachers so they can share it with their students?: &lt;a href=&quot;{!$Record.LD_com_redirection_link__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.LD_com_redirection_link__c}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Thanks so much,&lt;/p&gt;&lt;p&gt;{!$Record.Owner.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Owner.LastName}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
