force-app/main/default/main/default/flows/Drip_Builder_with_Booking_Status_Filter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>alert_owner</name>
        <label>alert owner</label>
        <locationX>666</locationX>
        <locationY>2232</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!owner_email},ryan@livedifferent.com,{!$Record.Campaign.Drip_Sending_Address__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!$Record.Status} for {!$Record.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>otherdripsalert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_drip_email</name>
        <label>Copy 1 of Copy 1 of drip email</label>
        <locationX>3658</locationX>
        <locationY>924</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_loop1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>From_email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>From_email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Contact.Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Copy_1_of_loop1.Email_Template_ID__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_drip_email</name>
        <label>Copy 1 of drip email</label>
        <locationX>3086</locationX>
        <locationY>1032</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>test_email_formula</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>From_email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Contact.Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>loop1.Email_Template_ID__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>drip_email</name>
        <label>drip email</label>
        <locationX>2822</locationX>
        <locationY>1032</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>test_email_formula</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>From_email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Lead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>loop1.Email_Template_ID__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>send_to_make</name>
        <label>send to make</label>
        <locationX>3922</locationX>
        <locationY>276</locationY>
        <actionName>CampaignMember.Campaign_Member_to_Make_com</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>CampaignMember.Campaign_Member_to_Make_com</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>append_campaign_name</name>
        <label>append_campaign_name</label>
        <locationX>754</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>conflicting_campaign_list</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;   &lt;a href=&quot;https://livedifferent.my.salesforce.com/{!loop_campaign_member_objects.Id}&quot;&gt;{!loop_campaign_member_objects.Campaign.Name}&lt;/a&gt; |    &lt;strong&gt;Status:&lt;/strong&gt; {!loop_campaign_member_objects.Status} |    &lt;strong&gt;Drips Sent:&lt;/strong&gt; {!loop_campaign_member_objects.Drips_Sent__c} |    &lt;strong&gt;Next Drip:&lt;/strong&gt; {!loop_campaign_member_objects.Next_Drip__c} &lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_campaign_member_objects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>append_tasks</name>
        <label>append tasks</label>
        <locationX>754</locationX>
        <locationY>2040</locationY>
        <assignmentItems>
            <assignToReference>recent_tasks</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;&lt;strong&gt;Subject:&lt;/strong&gt; &lt;a href=&quot;https://livedifferent.my.salesforce.com/{!loop_tasks.Id}&quot;&gt;{!loop_tasks.Subject}&lt;/a&gt; | &lt;strong&gt;Assigned to:&lt;/strong&gt; {!loop_tasks.Owner:User.FirstName} {!loop_tasks.Owner:User.LastName} | &lt;strong&gt;Created date:&lt;/strong&gt; {!loop_tasks.CreatedDate}&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>contact_email_pre_preview</name>
        <label>contact_email_pre_preview</label>
        <locationX>3394</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>contact_email_prev</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_for_preview_test</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_created_date</name>
        <label>Copy 1 of created date</label>
        <locationX>1832</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>lead_owner_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact_owner_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignemailaddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign.Drip_Sending_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Drips_Sent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>move_to_work_hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>counter_loop_plus1</name>
        <label>counter_loop_plus1</label>
        <locationX>3284</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>counter_loop</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>created_date</name>
        <label>created date</label>
        <locationX>182</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>created_date_2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead_owner_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact_owner_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignemailaddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign.Drip_Sending_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>no_next_drip_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>email_list</name>
        <label>email list</label>
        <locationX>754</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>recent_emails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;&lt;strong&gt;Subject:&lt;/strong&gt; &lt;a href=&quot;https://livedifferent.my.salesforce.com/{!loop_emails.Id}&quot;&gt;{!loop_emails.Subject}&lt;/a&gt; | &lt;strong&gt;From:&lt;/strong&gt; {!loop_emails.FromAddress} | &lt;strong&gt;To:&lt;/strong&gt; {!loop_emails.ToAddress} | &lt;strong&gt;Date:&lt;/strong&gt; {!loop_emails.MessageDate}&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>number_of_drips</name>
        <label>number of drips</label>
        <locationX>2734</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>drip_count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>drip</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop1</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>emails_limit</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>emails limit</label>
        <locationX>666</locationX>
        <locationY>1308</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Emailmessages</collectionReference>
        <connector>
            <targetReference>loop_emails</targetReference>
        </connector>
        <limit>5</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>true</doesPutEmptyStringAndNullFirst>
            <sortField>MessageDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>limit_tasks</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>limit tasks</label>
        <locationX>666</locationX>
        <locationY>1824</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>get_tasks</collectionReference>
        <connector>
            <targetReference>loop_tasks</targetReference>
        </connector>
        <limit>5</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Another_drip</name>
        <label>Another drip?</label>
        <locationX>424</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Update_status_for_drip_conflict</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no_other_drips</name>
            <conditionLogic>2 OR (1 and 3)</conditionLogic>
            <conditions>
                <leftValueReference>Conflicting_drips</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drip Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Drip queued (review)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>created_date</targetReference>
            </connector>
            <label>no other drips</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_lead_v_contact</name>
        <label>Copy 1 of lead v contact</label>
        <locationX>3570</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_drip_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_loop1</targetReference>
            </connector>
            <label>Copy 1 of Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_loop_count</name>
        <label>Copy 1 of loop count</label>
        <locationX>3284</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>counter_loop_plus1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_loop_count1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter_loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>counter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lead_v_contact</targetReference>
            </connector>
            <label>Copy 1 of loop count1</label>
        </rules>
        <rules>
            <name>Update_next_drip_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter_loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>counterplus1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_update_next_drip</targetReference>
            </connector>
            <label>Update next drip date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_move_to_work_hours</name>
        <label>Copy 1 of move to work hours</label>
        <locationX>182</locationX>
        <locationY>1308</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_check_times</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>movetoweekday</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>move_to_9am_to_6pm</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_bump_hours</targetReference>
            </connector>
            <label>Copy 1 of check times</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_email_override</name>
        <label>has email override</label>
        <locationX>424</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Conflicting_drips</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no_override</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.Drip_Sending_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>re_own_contact</targetReference>
            </connector>
            <label>no override</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_last_drip</name>
        <label>Is last drip?</label>
        <locationX>2734</locationX>
        <locationY>1932</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>last_drip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Drips_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>drip_count</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_lead_status</targetReference>
            </connector>
            <label>last drip</label>
        </rules>
    </decisions>
    <decisions>
        <name>lead_v_contact</name>
        <label>lead v contact</label>
        <locationX>2954</locationX>
        <locationY>924</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_drip_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>drip_email</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>move_to_work_hours</name>
        <label>move to work hours</label>
        <locationX>1832</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>drip</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_booking_status</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Account.X2023_2024_Booking_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sent Promo / Initial Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Account.X2023_2024_Booking_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>stop_drip_due_to_booking_status</targetReference>
            </connector>
            <label>has booking status</label>
        </rules>
        <rules>
            <name>bounce</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead.EmailBouncedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>bounce</label>
        </rules>
        <rules>
            <name>check_times</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>movetoweekday</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>move_to_9am_to_6pm</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>bump_hours</targetReference>
            </connector>
            <label>check times</label>
        </rules>
    </decisions>
    <decisions>
        <name>no_next_drip_date</name>
        <label>no next drip date</label>
        <locationX>182</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_move_to_work_hours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>next_drip_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Next_Drip__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_drip</targetReference>
            </connector>
            <label>next drip date</label>
        </rules>
    </decisions>
    <decisions>
        <name>preview_enabled</name>
        <label>preview enabled</label>
        <locationX>3526</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>previews_enabled2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.Preview_Drips__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>contact_email_pre_preview</targetReference>
            </connector>
            <label>previews enabled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>counterplus1</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Drips_Sent__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>firstdrip</name>
        <dataType>DateTime</dataType>
        <expression>{!created_date_2}+({!Copy_1_of_drip.Minutes_Delay__c}/1440)</expression>
    </formulas>
    <formulas>
        <name>FlowDate_minus_2weeks</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}-14</expression>
    </formulas>
    <formulas>
        <name>From_email</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Campaign.Drip_Sending_Address__c}), 
    IF(ISBLANK({!$Record.Lead.Owner:User.Email}), 
        {!$Record.Contact.Owner.Email}, 
        {!$Record.Lead.Owner:User.Email}), 
    {!$Record.Campaign.Drip_Sending_Address__c})</expression>
    </formulas>
    <formulas>
        <name>from_email_test</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!campaignemailaddress}),{!lead_owner_email},{!campaignemailaddress})</expression>
    </formulas>
    <formulas>
        <name>move_to_9am_to_6pm</name>
        <dataType>Number</dataType>
        <expression>IF(
  MOD(MOD(FLOOR((UnixTimestamp({!$Record.Next_Drip__c}) - 14400) / 3600), 24), 24) &gt;= 20, 
  1 + 9/24 - MOD(MOD(FLOOR((UnixTimestamp({!$Record.Next_Drip__c}) - 14400) / 3600), 24), 24)/24, 
  IF(
    MOD(MOD(FLOOR((UnixTimestamp({!$Record.Next_Drip__c}) - 14400) / 3600), 24), 24) &lt; 9,
    9/24 - MOD(MOD(FLOOR((UnixTimestamp({!$Record.Next_Drip__c}) - 14400) / 3600), 24), 24)/24, 
    0  
  )
)</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>movetoweekday</name>
        <dataType>Number</dataType>
        <expression>IF(
  MOD(DATEVALUE({!$Record.Next_Drip__c} - 4/24) - DATE(1900, 1, 1), 7) = 5,
  2,
  IF(
    MOD(DATEVALUE({!$Record.Next_Drip__c} - 4/24) - DATE(1900, 1, 1), 7) = 6,
    1,
    0
  )
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>next_add_hours</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Next_Drip__c}+{!move_to_9am_to_6pm}</expression>
    </formulas>
    <formulas>
        <description>bump next date to work hours</description>
        <name>Next_date_add_days</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Next_Drip__c}+{!movetoweekday}</expression>
    </formulas>
    <formulas>
        <name>nextdrip</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+{!loop1.Minutes_Delay__c}/1440</expression>
    </formulas>
    <formulas>
        <name>owner_email</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Lead.Owner:User.Email}), 
        {!$Record.Contact.Owner.Email}, 
        {!$Record.Lead.Owner:User.Email})</expression>
    </formulas>
    <formulas>
        <name>recordid</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.Contact.Id}),{!$Record.Lead.Id },{!$Record.Contact.Id})</expression>
    </formulas>
    <interviewLabel>Drip Builder with Booking Status Filter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Drip Builder with Booking Status Filter</label>
    <loops>
        <name>Copy_1_of_loop1</name>
        <label>Copy 1 of loop1</label>
        <locationX>3394</locationX>
        <locationY>708</locationY>
        <collectionReference>Copy_2_of_drip</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_lead_v_contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_update_for_preview_test</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop1</name>
        <label>loop1</label>
        <locationX>2734</locationX>
        <locationY>708</locationY>
        <collectionReference>drip</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_loop_count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_2_of_Copy_1_of_bump_hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_campaign_member_objects</name>
        <label>loop campaign member objects</label>
        <locationX>666</locationX>
        <locationY>900</locationY>
        <collectionReference>Conflicting_drips</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>append_campaign_name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Emailmessages</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_emails</name>
        <label>loop emails</label>
        <locationX>666</locationX>
        <locationY>1416</locationY>
        <collectionReference>Emailmessages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>email_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_tasks</name>
        <label>loop tasks</label>
        <locationX>666</locationX>
        <locationY>1932</locationY>
        <collectionReference>get_tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>append_tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>alert_owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Conflicting_drips</name>
        <label>Conflicting drips</label>
        <locationX>424</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Another_drip</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Next_Drip__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>FlowDate_minus_2weeks</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_drip</name>
        <label>Copy 1 of drip</label>
        <locationX>50</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_update_next_drip</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Drip__c</object>
        <sortField>Drip_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_drip</name>
        <label>Copy 2 of drip</label>
        <locationX>3394</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_loop1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Drip__c</object>
        <sortField>Drip_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>drip</name>
        <label>drip</label>
        <locationX>2734</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>number_of_drips</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Drip__c</object>
        <sortField>Drip_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Emailmessages</name>
        <label>Email messages</label>
        <locationX>666</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>emails_limit</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ToAddress</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>FromAddress</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <sortField>MessageDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_tasks</name>
        <label>get tasks</label>
        <locationX>666</locationX>
        <locationY>1716</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>limit_tasks</targetReference>
        </connector>
        <filterLogic>(1 OR 2) and 3</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>add_drip_count</name>
        <label>add drip count</label>
        <locationX>2734</locationX>
        <locationY>1824</locationY>
        <connector>
            <targetReference>Is_last_drip</targetReference>
        </connector>
        <inputAssignments>
            <field>Drips_Sent__c</field>
            <value>
                <elementReference>counterplus1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>bump_hours</name>
        <label>bump hours</label>
        <locationX>1458</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Copy_3_of_bump_hours</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Drip__c</field>
            <value>
                <elementReference>next_add_hours</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_bump_hours</name>
        <label>Copy 1 of bump hours</label>
        <locationX>50</locationX>
        <locationY>1416</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_bump_hours</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Drip__c</field>
            <value>
                <elementReference>next_add_hours</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_bump_hours</name>
        <label>Copy 1 of Copy 1 of bump hours</label>
        <locationX>50</locationX>
        <locationY>1524</locationY>
        <inputAssignments>
            <field>Next_Drip__c</field>
            <value>
                <elementReference>Next_date_add_days</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_update_for_preview_test</name>
        <label>Copy 1 of update for preview test</label>
        <locationX>3394</locationX>
        <locationY>1200</locationY>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>contact_email_prev</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_update_next_drip</name>
        <label>Copy 1 of update next drip</label>
        <locationX>3350</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>counter_loop_plus1</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Drip__c</field>
            <value>
                <elementReference>nextdrip</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_bump_hours</name>
        <label>Copy 2 of bump hours</label>
        <locationX>2734</locationX>
        <locationY>1716</locationY>
        <connector>
            <targetReference>add_drip_count</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Drip__c</field>
            <value>
                <elementReference>Next_date_add_days</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_1_of_bump_hours</name>
        <label>Copy 2 of Copy 1 of bump hours</label>
        <locationX>2734</locationX>
        <locationY>1608</locationY>
        <connector>
            <targetReference>Copy_2_of_bump_hours</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Drip__c</field>
            <value>
                <elementReference>next_add_hours</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_update_next_drip</name>
        <label>Copy 2 of update next drip</label>
        <locationX>50</locationX>
        <locationY>1116</locationY>
        <connector>
            <targetReference>Copy_1_of_move_to_work_hours</targetReference>
        </connector>
        <inputAssignments>
            <field>Next_Drip__c</field>
            <value>
                <elementReference>firstdrip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Drip Started</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_bump_hours</name>
        <label>Copy 3 of bump hours</label>
        <locationX>1458</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Next_Drip__c</field>
            <value>
                <elementReference>Next_date_add_days</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>re_own_contact</name>
        <label>re-own contact</label>
        <locationX>292</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Conflicting_drips</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>stop_drip_due_to_booking_status</name>
        <label>stop drip due to booking status</label>
        <locationX>930</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Dripped stopped: booking status change</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>test_email_formula</name>
        <label>test_email_formula</label>
        <locationX>2954</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>counter_loop_plus1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Drip queued</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Drip Started</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_for_preview_test</name>
        <label>update for preview test</label>
        <locationX>3394</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Copy_2_of_drip</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>From_email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_lead_status</name>
        <label>update lead status</label>
        <locationX>2602</locationX>
        <locationY>2040</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Drip completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_for_drip_conflict</name>
        <label>Update status for drip conflict</label>
        <locationX>666</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>loop_campaign_member_objects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Drip queued (review)</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Drip conflict</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2047</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>has_email_override</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND(
    {!$Record.Campaign.IsActive},
    ISPICKVAL({!$Record.Campaign.Type}, &quot;Drip Email stopped by Booking Status&quot;),
    OR(
        ISPICKVAL({!$Record.Status}, &quot;Drip queued&quot;),
        ISPICKVAL({!$Record.Status}, &quot;Drip Started&quot;),
        ISPICKVAL({!$Record.Status}, &quot;Drip queued (review)&quot;)
    ),
    NOT({!$Record.HasOptedOutOfEmail}),
    ISNULL({!$Record.Lead.EmailBouncedDate}),
    ISNULL({!$Record.Contact.EmailBouncedDate}),
    NOT(ISBLANK({!$Record.Email}))
)</filterFormula>
        <object>CampaignMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>drips</name>
            <connector>
                <targetReference>Copy_1_of_created_date</targetReference>
            </connector>
            <label>drips</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Next_Drip__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>preview_drips</name>
            <connector>
                <targetReference>preview_enabled</targetReference>
            </connector>
            <label>preview drips</label>
            <offsetNumber>-100</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Next_Drip__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>check_reply</name>
            <connector>
                <targetReference>send_to_make</targetReference>
            </connector>
            <label>check reply</label>
            <offsetNumber>-2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Next_Drip__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>otherdripsalert</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
  &quot;&lt;a href=&quot;https://livedifferent.my.salesforce.com/{!$Record.Campaign.Id}&quot; target=&quot;_blank&quot; rel=&quot;noopener noreferrer&quot;&gt;{!$Record.Campaign.Name}&lt;/a&gt;&quot; campaign/drip has been paused/not started for: 
  &lt;a href=&quot;https://livedifferent.my.salesforce.com/{!$Record.Id}&quot; target=&quot;_blank&quot; rel=&quot;noopener noreferrer&quot;&gt;
    {!$Record.FirstName} {!$Record.LastName} {!$Record.Email}
  &lt;/a&gt;
&lt;/p&gt;

&lt;p&gt;&lt;strong&gt;Other recent drips:&lt;/strong&gt;&lt;/p&gt;
&lt;ul&gt;
  {!conflicting_campaign_list}
&lt;/ul&gt;

&lt;p&gt;&lt;strong&gt;Recent Emails:&lt;/strong&gt;&lt;/p&gt;
&lt;ul&gt;
  {!recent_emails}
&lt;/ul&gt;

&lt;p&gt;&lt;strong&gt;Recent Tasks:&lt;/strong&gt;&lt;/p&gt;
&lt;ul&gt;
  {!recent_tasks}
&lt;/ul&gt;

&lt;p&gt;&lt;strong&gt;Update Campaign Member Status from {!$Record.Status}:&lt;/strong&gt;&lt;/p&gt;
&lt;ul&gt;
  &lt;li&gt;
    &lt;a href=&quot;https://livedifferent--c.vf.force.com/flow/Update_Campaign_Member_Status_URL?campaign_member_id={!$Record.Id}&amp;Campaign_Member_Status=Drip%20Started&quot; 
       target=&quot;_blank&quot; rel=&quot;noopener noreferrer&quot;&gt;
      Click to instantly change to &quot;Drip Started&quot; (to send emails)
    &lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;a href=&quot;https://livedifferent--c.vf.force.com/flow/Update_Campaign_Member_Status_URL?campaign_member_id={!$Record.Id}&amp;Campaign_Member_Status=Drip%20stopped&quot; 
       target=&quot;_blank&quot; rel=&quot;noopener noreferrer&quot;&gt;
      Click to instantly change to &quot;Drip Stopped&quot;
    &lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>campaignemailaddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>conflicting_campaign_list</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contact_email_prev</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contact_owner_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counter_loop</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>created_date_2</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>how many drip records</description>
        <name>drip_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>driptimes</name>
        <dataType>DateTime</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lead_owner_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>next_drip_time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recent_emails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recent_tasks</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>textdatetime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
