force-app/main/default/main/default/flows/Drip_Campaign_Build_Leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Builds_Contest_Confirm_SMS</name>
        <label>Builds Contest Confirm SMS</label>
        <locationX>180</locationX>
        <locationY>107</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Lead_Contest_Email_Confirm</targetReference>
        </connector>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>BuildsContestConfirmsms</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ContestChoicesEmail</name>
        <label>ContestChoicesEmail</label>
        <locationX>713</locationX>
        <locationY>329</locationY>
        <actionName>Lead.Contest_Choices_2018</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ChoicesAssign</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Contest_Choices_2018</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ContestFundEmail</name>
        <label>ContestFundEmail</label>
        <locationX>910</locationX>
        <locationY>389</locationY>
        <actionName>Lead.Contest_Fundraising</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>FundAssign</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Contest_Fundraising</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>contestjulia</name>
        <label>contestjulia</label>
        <locationX>549</locationX>
        <locationY>262</locationY>
        <actionName>Lead.Contest_Julia_Builds</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>JuliaSentassign</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Contest_Julia_Builds</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Fault_Contest</name>
        <label>Fault - Contest</label>
        <locationX>182</locationX>
        <locationY>681</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <stringValue>9057300786</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Julia_SMS_message</name>
        <label>Julia SMS message</label>
        <locationX>648</locationX>
        <locationY>157</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>contestjulia</targetReference>
        </connector>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SMSJulia</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Lead_Contest_Email_Confirm</name>
        <label>Lead Contest Email Confirm</label>
        <locationX>51</locationX>
        <locationY>174</locationY>
        <actionName>Lead.Contest_Entry_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Day2_Julia_Dealy</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Contest_Entry_Confirmation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Natalia</name>
        <label>Natalia</label>
        <locationX>1170</locationX>
        <locationY>538</locationY>
        <actionName>Lead.Contest_natalia_Builds</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Lead</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Contest_natalia_Builds</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>No_action_alert</name>
        <label>No action alert</label>
        <locationX>874</locationX>
        <locationY>128</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>NoActiontext</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <stringValue>9057300786</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Parent_Email</name>
        <label>Parent Email</label>
        <locationX>412</locationX>
        <locationY>177</locationY>
        <actionName>Lead.Contest_Parent_Info</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Day3_Choices_Email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Contest_Parent_Info</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Parent_Info</name>
        <label>Parent Info</label>
        <locationX>221</locationX>
        <locationY>225</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parent_Email</targetReference>
        </connector>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>ParentFollowUpSMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendDefaultSMS</name>
        <label>SendDefaultSMS</label>
        <locationX>429</locationX>
        <locationY>828</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The default flow was selected - please investigate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <stringValue>9057300786</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>ChoicesAssign</name>
        <label>ChoicesAssign</label>
        <locationX>657</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>ChoicesSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Day_5_Funds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FundAssign</name>
        <label>FundAssign</label>
        <locationX>990</locationX>
        <locationY>557</locationY>
        <assignmentItems>
            <assignToReference>FundSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Day_7_Pause</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>JuliaSentassign</name>
        <label>JuliaSentassign</label>
        <locationX>512</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>JuliaSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Day3_Choices_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decide_Julia_SMS</name>
        <label>Decide Follow up SMS</label>
        <locationX>318</locationX>
        <locationY>333</locationY>
        <defaultConnector>
            <targetReference>contestjulia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Julia_Send_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComPref</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spring_2 2019</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contacted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Age</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Julia_SMS_message</targetReference>
            </connector>
            <label>Julia Send SMS</label>
        </rules>
        <rules>
            <name>Parent_Communications</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contacted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Age</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Age</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>13.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ComPref</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spring_2 2019</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Info</targetReference>
            </connector>
            <label>Parent Communications</label>
        </rules>
        <rules>
            <name>parent_email_follow_up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contacted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spring_2 2019</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Age</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Email</targetReference>
            </connector>
            <label>parent email follow up</label>
        </rules>
    </decisions>
    <decisions>
        <name>Initial_Flow_Choice</name>
        <label>Initial Flow Choice</label>
        <locationX>554</locationX>
        <locationY>27</locationY>
        <defaultConnector>
            <targetReference>No_action_alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>End Flow Error</defaultConnectorLabel>
        <rules>
            <name>Contest_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spring_2 2019</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ComPref</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Builds_Contest_Confirm_SMS</targetReference>
            </connector>
            <label>Contest SMS</label>
        </rules>
        <rules>
            <name>Contest_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spring_2 2019</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ComPref</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Contest_Email_Confirm</targetReference>
            </connector>
            <label>Contest Email</label>
        </rules>
    </decisions>
    <description>Edited Intro SMS</description>
    <formulas>
        <name>BuildsContestConfirmsms</name>
        <dataType>String</dataType>
        <expression>{!OwnerName} + &quot; from Live Different here! Thanks for signing up to win a volunteer experience on a Build with us this summer! Have you ever volunteered outside of Canada before?&quot;</expression>
    </formulas>
    <formulas>
        <name>Flowstartmessage</name>
        <dataType>String</dataType>
        <expression>&quot;A new contest drip was initiated --&quot; + {!ComPref} + &quot; &quot; + {!FName} + &quot; &quot; + {!LCategory} + &quot; &quot; + {!LeadID} + &quot; &quot; + TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>NoActiontext</name>
        <dataType>String</dataType>
        <expression>&quot;A lead drip campaign was triggered but didn&apos;t match any options - no action was taken. &quot; + {!LeadID}</expression>
    </formulas>
    <formulas>
        <name>ParentFollowUpSMS</name>
        <dataType>String</dataType>
        <expression>&quot;Hope your day is going well! Just a quick message about looping your parent/guardian in on the contest. Make sure you let them know you&apos;ve signed up and if they have any questions I am always available.&quot;</expression>
    </formulas>
    <formulas>
        <name>SMSJulia</name>
        <dataType>String</dataType>
        <expression>&quot;Hey &quot; + {!FName} + &quot;! I wanted to pass along the story of another volunteer named Julia. She met Diana on a Build and together, they owned it on the worksite! By the end, they were able to celebrate together as Diana, her husband, and two children received the keys to their new home! Here’s the link - http://bit.ly/2IgZwl1&quot;</expression>
    </formulas>
    <interviewLabel>Drip Campaign - Build Leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Drip Campaign - Build Leads</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Julia_Check</name>
        <label>Julia Check</label>
        <locationX>372</locationX>
        <locationY>464</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_Julia_SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>LCategory</assignToReference>
            <field>Leady_Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lead</name>
        <label>Lead</label>
        <locationX>466</locationX>
        <locationY>6</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initial_Flow_Choice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>Age</assignToReference>
            <field>Age_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ComPref</assignToReference>
            <field>Communication_Preference__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LCategory</assignToReference>
            <field>Leady_Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Mobile</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerName</assignToReference>
            <field>OwnerName_F__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lead</startElementReference>
    <status>Active</status>
    <variables>
        <name>Age</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ChoicesSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ComPref</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FundSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>JuliaSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00Q2J00001N0tRSUAZ</stringValue>
        </value>
    </variables>
    <variables>
        <name>Mobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TimeSent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Day2_Julia_Dealy</name>
        <label>Day2  Delay</label>
        <locationX>189</locationX>
        <locationY>495</locationY>
        <defaultConnector>
            <targetReference>SendDefaultSMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <faultConnector>
            <targetReference>Fault_Contest</targetReference>
        </faultConnector>
        <waitEvents>
            <name>X24hrdelay</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Julia_Check</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>24.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>24hrdelay</label>
            <outputParameters>
                <assignToReference>TimeSent</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
    </waits>
    <waits>
        <name>Day3_Choices_Email</name>
        <label>Day3 Choices Email</label>
        <locationX>451</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>SendDefaultSMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <faultConnector>
            <targetReference>Fault_Contest</targetReference>
        </faultConnector>
        <waitEvents>
            <name>Day3Choice</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>ContestChoicesEmail</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>24.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Day3Choice</label>
            <outputParameters>
                <assignToReference>TimeSent</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
    </waits>
    <waits>
        <name>Day_5_Funds</name>
        <label>Day 5 Funds</label>
        <locationX>797</locationX>
        <locationY>619</locationY>
        <defaultConnector>
            <targetReference>SendDefaultSMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <faultConnector>
            <targetReference>Fault_Contest</targetReference>
        </faultConnector>
        <waitEvents>
            <name>day5email</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>ContestFundEmail</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>48.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>day5email</label>
            <outputParameters>
                <assignToReference>TimeSent</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
    </waits>
    <waits>
        <name>Day_7_Pause</name>
        <label>Day 7 Pause</label>
        <locationX>1172</locationX>
        <locationY>401</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>D7</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Natalia</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>48.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>D7</label>
            <outputParameters>
                <assignToReference>TimeSent</assignToReference>
                <name>AlarmTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Status</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
