force-app/main/default/main/default/flows/Fall_2022_Road_Team_Volunteer_Leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Email1_RTV</name>
        <label>Copy 1 of Email1_RTV</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_Drip_started</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email1_RTV_lead</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>{!startofemailaddress}@livedifferent.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Hey {!$Record.FirstName}, here is some tour info</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Email1_RTV</name>
        <label>Copy 2 of Email1_RTV</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_5_of_Drip_started</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email1_RTV_lead_Indeed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>{!startofemailaddress}@livedifferent.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Hey {!$Record.FirstName}—just following up on your Indeed application</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email1_RTV</name>
        <label>Email1_RTV</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Drip_started</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email1_RTV_lead</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>{!startofemailaddress}@livedifferent.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Hey {!$Record.FirstName}, here is some tour info</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email2_RTV</name>
        <label>Email2_RTV</label>
        <locationX>1634</locationX>
        <locationY>276</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_2_of_Drip_started</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>{!startofemailaddress}@livedifferent.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>What are your plans for the next semester {!$Record.FirstName}?</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email2_RTV_lead</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email3_RTV</name>
        <label>Email3_RTV</label>
        <locationX>1898</locationX>
        <locationY>276</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_3_of_Drip_started</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>{!startofemailaddress}@livedifferent.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Are you looking for something different, {!$Record.FirstName}?</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email3_RTV_lead</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email4_RTV</name>
        <label>Email4_RTV</label>
        <locationX>2162</locationX>
        <locationY>276</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_4_of_Drip_started</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email4_RTV_lead</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>{!startofemailaddress}@livedifferent.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Hello {!$Record.FirstName}. It&apos;s me...</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email5_RTV</name>
        <label>Email5_RTV</label>
        <locationX>2426</locationX>
        <locationY>276</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Drip_ended</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email5_RTV_lead</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>{!startofemailaddress}@livedifferent.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Don’t miss your chance to make a difference</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>application_received2</name>
        <label>application received</label>
        <locationX>1106</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_drip_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Drip 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drip started</stringValue>
                </rightValue>
            </conditions>
            <label>has drip 1</label>
        </rules>
        <rules>
            <name>application_received3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Recieved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Email1_RTV</targetReference>
            </connector>
            <label>application received</label>
        </rules>
    </decisions>
    <decisions>
        <name>full_application_link</name>
        <label>used full application link</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Email1_RTV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Source_Application_on_Indeed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Source: Application on Indeed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Email1_RTV</targetReference>
            </connector>
            <label>Source: Application on Indeed</label>
        </rules>
        <rules>
            <name>app_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Recieved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <label>app=true</label>
        </rules>
    </decisions>
    <description>fixed dynamic org wide address</description>
    <environments>Default</environments>
    <formulas>
        <description>to remove @livedifferent.com from email to try to trick orgwide address</description>
        <name>startofemailaddress</name>
        <dataType>String</dataType>
        <expression>substitute({!$Record.Owner:User.Email},&quot;@livedifferent.com&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Fall 2022 Road Team Volunteer Leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fall 2022 Road Team Volunteer Leads v5</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Drip_started</name>
        <label>Copy 1 of Drip started</label>
        <locationX>1106</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!$Record.Description} Drip 1 (60mins delay) sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Drip started</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Drip_started</name>
        <label>Copy 2 of Drip started</label>
        <locationX>1634</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!$Record.Description} Drip 2 sent</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Drip_started</name>
        <label>Copy 3 of Drip started</label>
        <locationX>1898</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!$Record.Description} Drip 3 sent</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Drip_started</name>
        <label>Copy 4 of Drip started</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!$Record.Description} Drip 4 sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Drip started</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_5_of_Drip_started</name>
        <label>Copy 5 of Drip started</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!$Record__Prior.Description} Drip 1 (Indeed) sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Drip started</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Drip_ended</name>
        <label>Drip ended</label>
        <locationX>2426</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!$Record.Description} Drip 5 sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Drip ended</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Drip_started</name>
        <label>Drip started</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!$Record__Prior.Description} Drip 1 sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Drip started</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>full_application_link</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 4) AND 3</filterLogic>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fall 2022 Tour Volunteer Leads</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Drip started</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X60mins</name>
            <connector>
                <targetReference>application_received2</targetReference>
            </connector>
            <label>60mins</label>
            <offsetNumber>60</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X24hours</name>
            <connector>
                <targetReference>Email2_RTV</targetReference>
            </connector>
            <label>24hours</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X72hours</name>
            <connector>
                <targetReference>Email3_RTV</targetReference>
            </connector>
            <label>72hours</label>
            <offsetNumber>72</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X144hours</name>
            <connector>
                <targetReference>Email4_RTV</targetReference>
            </connector>
            <label>144hours</label>
            <offsetNumber>144</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X312hours</name>
            <connector>
                <targetReference>Email5_RTV</targetReference>
            </connector>
            <label>312hours</label>
            <offsetNumber>312</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email1_RTV_lead</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.FirstName},&lt;/p&gt;&lt;p&gt;Being part of LiveDifferent&apos;s school tour is an incredible, life-changing experience—many thanks for your interest in learning about it!&lt;/p&gt;&lt;p&gt;Are you a young adult looking to make a difference? Here are the next steps to get involved:&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Check out our &lt;a href=&quot;https://livedifferent.com/tour-volunteer&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Tour Volunteer&lt;/a&gt; webpage.&lt;/li&gt;&lt;li&gt;Please read the info package &lt;a href=&quot;https://drive.google.com/uc?export=PDF&amp;amp;id=17WkA1GPN0fHGzXwsFxXmH7BWyDifYcyu&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&lt;/li&gt;&lt;li&gt;Fill out the full application &lt;a href=&quot;https://livediff.typeform.com/road-team-apply#email={!$Record.Email}&amp;amp;first={!$Record.FirstName}&amp;amp;last={!$Record.LastName}&amp;amp;phone={!$Record.MobilePhone}&amp;amp;id={!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;Thanks again {!$Record.FirstName} for your interest in this. I&apos;m only a reply away if you have any questions!&lt;/p&gt;&lt;p&gt;Cheers,&lt;/p&gt;&lt;p&gt;{!$Record.Owner:User.FirstName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;P.S. I&apos;ll be sending a few more emails (and at least one great meme) over the next while. If you aren&apos;t interested, &lt;/span&gt;&lt;a href=&quot;{!unsubscribe_URL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10px;&quot;&gt;click here&lt;/a&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt; and I won&apos;t reach out anymore.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Email1_RTV_lead_Indeed</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.FirstName},&lt;/p&gt;&lt;p&gt;Thanks for applying on Indeed! Being part of LiveDifferent&apos;s school tour is an incredible, life-changing experience!&lt;/p&gt;&lt;p&gt;Are you a young adult looking to make a difference? Here are the next steps to get involved:&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Check out our &lt;a href=&quot;https://livedifferent.com/tour-volunteer&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Tour Volunteer&lt;/a&gt; webpage.&lt;/li&gt;&lt;li&gt;Please read the info package &lt;a href=&quot;https://drive.google.com/uc?export=PDF&amp;amp;id=17WkA1GPN0fHGzXwsFxXmH7BWyDifYcyu&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&lt;/li&gt;&lt;li&gt;Fill out the full application &lt;a href=&quot;https://livediff.typeform.com/road-team-apply#email={!$Record.Email}&amp;amp;first={!$Record.FirstName}&amp;amp;last={!$Record.LastName}&amp;amp;phone={!$Record.MobilePhone}&amp;amp;id={!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;Thanks again {!$Record.FirstName} for your interest in this. I&apos;m only a reply away if you have any questions!&lt;/p&gt;&lt;p&gt;Cheers,&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Owner:User.FirstName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;P.S. I&apos;ll be sending a few more emails (and at least one great meme) over the next while. If you aren&apos;t interested, &lt;/span&gt;&lt;a href=&quot;{!unsubscribe_URL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10px;&quot;&gt;click here&lt;/a&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt; and I won&apos;t reach out anymore.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Email2_RTV_lead</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.FirstName},&lt;/p&gt;&lt;p&gt;I’m following up on my last email to ask what you’re doing next semester? If you’re looking for ideas, the LiveDifferent Road Team could be your perfect fit!&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;All expenses and travel are paid, alongside a $500 bi-weekly stipend.&lt;/p&gt;&lt;p&gt;So I guess the real question is: What are you waiting for, &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.FirstName}&lt;/span&gt;?&lt;/p&gt;&lt;p&gt;Applications are open now and I’d love to see yours among them! You can submit it &lt;a href=&quot;https://livediff.typeform.com/road-team-apply#email={!$Record.Email}&amp;amp;first={!$Record.FirstName}&amp;amp;last={!$Record.LastName}&amp;amp;phone={!$Record.MobilePhone}&amp;amp;id={!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&amp;nbsp;And if you have any questions in the meantime, just let me know!&lt;/p&gt;&lt;p&gt;All the best,&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Owner:User.FirstName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Not interested in this? Click &lt;/span&gt;&lt;a href=&quot;{!unsubscribe_URL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10px;&quot;&gt;here&lt;/a&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt; and I won&apos;t reach out again.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Email3_RTV_lead</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I get it—going outside of your comfort zone can be scary. But it’s like they say: life begins at the end of your comfort zone.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Start a new adventure and &lt;a href=&quot;https://livediff.typeform.com/road-team-apply#email={!$Record.Email}&amp;amp;first={!$Record.FirstName}&amp;amp;last={!$Record.LastName}&amp;amp;phone={!$Record.MobilePhone}&amp;amp;id={!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;apply&lt;/a&gt; to become a Tour Volunteer!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To give you a better idea about what we do, I put together &lt;a href=&quot;https://www.youtube.com/watch?v=4qFsQWSOPjk&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this video&lt;/a&gt; to explain the kind of message you’ll be sharing with youth across the country.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We can’t wait for you to join us, {!$Record.FirstName}!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cheers,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Owner:User.FirstName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;P.S. Don’t just take my word for it! Check out &lt;a href=&quot;https://www.youtube.com/watch?v=yYUKsC6q_5A&amp;amp;t=12s&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this video&lt;/a&gt; to see the impact we’ve had in the lives of students across Canada.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Not interested in this? Click &lt;/span&gt;&lt;a href=&quot;{!unsubscribe_URL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10px;&quot;&gt;here&lt;/a&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt; and I won&apos;t reach out again.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Email4_RTV_lead</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://api.memegen.link/images/custom/hello,_{!$Record.FirstName}/it_me.jpg?background=https://www.slate.com/content/dam/slate/blogs/browbeat/2011/09/29/hugo_chavez_caption_contest/Adele-Hello-video.jpg.CROP.promo-xlarge2.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;and I was wondering if… we got your application to join LiveDifferent’s road team?!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We recently started interviewing for the position and I noticed your application wasn’t among those submitted. I thought I would reach out personally so that you didn’t miss out on Adele-ctable opportunity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://livediff.typeform.com/road-team-apply#email={!$Record.Email}&amp;amp;first={!$Record.FirstName}&amp;amp;last={!$Record.LastName}&amp;amp;phone={!$Record.MobilePhone}&amp;amp;id={!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Here’s the link &lt;/a&gt;for you to submit your application. If you have any questions, please let me know and I’ll be happy to answer them!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I’ll be waiting on the other side,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Owner:User.FirstName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Not interested in this? Click &lt;/span&gt;&lt;a href=&quot;{!unsubscribe_URL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10px;&quot;&gt;here&lt;/a&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt; and I won&apos;t reach out again.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Email5_RTV_lead</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I wanted to send this final email to let you know that applications for LiveDifferent’s Tour Volunteer position will be wrapping up soon. But there’s still time for you to &lt;a href=&quot;https://livediff.typeform.com/road-team-apply#email={!$Record.Email}&amp;amp;first={!$Record.FirstName}&amp;amp;last={!$Record.LastName}&amp;amp;phone={!$Record.MobilePhone}&amp;amp;id={!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;submit your application&lt;/a&gt;!&lt;/p&gt;&lt;p&gt;Not available to join us on a tour? That’s OK! At LiveDifferent, there are many ways for you to make a difference, which is why I wanted to leave you with links to our &lt;a href=&quot;https://livedifferent.com/academy/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Academy&lt;/a&gt; gap-semester and &lt;a href=&quot;https://livedifferent.com/builds/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Builds&lt;/a&gt; programs in case they’re a better fit.&lt;/p&gt;&lt;p&gt;Check them out and let me know what you think, {!$Record.FirstName}!&lt;/p&gt;&lt;p&gt;Thank you so much for your time,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Owner:User.FirstName}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>unsubscribe_URL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>https://hook.us1.make.com/wjn32jjkfw2kk38amkt9jiloeajaf6yi?id={!$Record.Id}&amp;first={!$Record.FirstName}</text>
    </textTemplates>
</Flow>
