force-app/main/default/main/default/flows/Fundraising_Balance_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Balance</name>
        <label>Send Balance</label>
        <locationX>407</locationX>
        <locationY>385</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>MessageFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>MobilePhone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>MessageFormula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!FundraisingBalance})),&quot;Hi &quot; + {!FirstName} + &quot;! Your fundraising balance is $&quot; + TEXT({!FundraisingBalance}), &quot;We were unable to find your registration&quot;)</expression>
    </formulas>
    <formulas>
        <name>PhoneFormater</name>
        <dataType>String</dataType>
        <expression>&quot;(&quot;&amp; MID({!MobilePhone},1,3) &amp; &quot;) &quot;&amp; MID({!MobilePhone},4,3)&amp; &quot;-&quot; &amp; MID({!MobilePhone},7,4)</expression>
    </formulas>
    <formulas>
        <name>Phonespaces</name>
        <dataType>String</dataType>
        <expression>MID({!MobilePhone},1,3) &amp; &quot; &quot;&amp; MID({!MobilePhone},4,3)&amp; &quot; &quot; &amp; MID({!MobilePhone},7,4)</expression>
    </formulas>
    <interviewLabel>Fundraising Balance Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fundraising Balance Request</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Contact</name>
        <label>Lookup Contact</label>
        <locationX>389</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Registration_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TwilioSF__Unformatted_Mobile__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MobilePhone</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Registration_Lookup</name>
        <label>Registration Lookup</label>
        <locationX>405</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Balance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trip_Start_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>Registration__c</object>
        <outputAssignments>
            <assignToReference>FundraisingBalance</assignToReference>
            <field>Amount__c</field>
        </outputAssignments>
        <sortField>Trip_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <startElementReference>Lookup_Contact</startElementReference>
    <status>Active</status>
    <variables>
        <name>contactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FundraisingBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>9057300786</stringValue>
        </value>
    </variables>
</Flow>
