force-app/main/default/main/default/flows/Gen_Builds_Drip_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Day_2_Post</name>
        <label>Day 2 Post</label>
        <locationX>464</locationX>
        <locationY>356</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Day 2 Drip Email Sent - Megans Experience</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>StatusWait</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DayChatterPost</name>
        <label>DayChatterPost</label>
        <locationX>168</locationX>
        <locationY>331</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>X24hr_Delay</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Initial Builds Email Sent</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>StatusWait</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Drip_Day_2</name>
        <label>Drip Day 2</label>
        <locationX>454</locationX>
        <locationY>242</locationY>
        <actionName>Lead.Builds_Drip_Day_2_email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Day_2_Post</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Builds_Drip_Day_2_email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Initial_SMS</name>
        <label>Initial SMS</label>
        <locationX>170</locationX>
        <locationY>88</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Leads_Immediate_Drip</targetReference>
        </connector>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SMSMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Leads_Immediate_Drip</name>
        <label>Leads Immediate Drip</label>
        <locationX>166</locationX>
        <locationY>236</locationY>
        <actionName>Lead.Builds_Drip_Immediate_email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DayChatterPost</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Builds_Drip_Immediate_email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Initial_Flow_Decision</name>
        <label>Initial Flow Decision</label>
        <locationX>395</locationX>
        <locationY>83</locationY>
        <defaultConnector>
            <targetReference>Leads_Immediate_Drip</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SMS_Pref</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComPref</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Mobile</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_SMS</targetReference>
            </connector>
            <label>SMS Pref</label>
        </rules>
    </decisions>
    <formulas>
        <name>SMSMessage</name>
        <dataType>String</dataType>
        <expression>{!FName} + &quot; from Live Different here, I&apos;ve sent you a quick email with some information about our Builds. If you have any questions at all, don&apos;t hesitate to ask!&quot;</expression>
    </formulas>
    <interviewLabel>Gen Builds Drip Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gen Builds Drip Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Initial_Flow_Decision</startElementReference>
    <status>Active</status>
    <variables>
        <name>ComPref</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SMS</stringValue>
        </value>
    </variables>
    <variables>
        <name>FName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ashley</stringValue>
        </value>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00Q2J00001N0tRSUAZ</stringValue>
        </value>
    </variables>
    <variables>
        <name>Mobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>9057300786</stringValue>
        </value>
    </variables>
    <variables>
        <name>StatusWait</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>X24hr_Delay</name>
        <label>24hr Delay</label>
        <locationX>166</locationX>
        <locationY>441</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>X24hr</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Drip_Day_2</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>24.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>24hr</label>
            <outputParameters>
                <assignToReference>StatusWait</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
