force-app/main/default/main/default/flows/Incoming_SMS_owner_alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_Owner</name>
        <label>Alert Owner</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Incoming_SMS_no_owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>AlertMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>OwnerMobile</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Incoming_SMS_no_owner</name>
        <label>Copy 1 of Incoming_SMS_no_owner</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>An incoming SMS has been received: {!AlertMessage}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>tech@livedifferent.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Incoming SMS Salesforce Twilio - sent to {!OwnerMobile}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Alert</name>
        <label>Error Alert</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Incoming_SMS_no_owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>AlertMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <stringValue>+19059291662</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Incoming_SMS_no_owner</name>
        <label>Incoming_SMS_no_owner</label>
        <locationX>402</locationX>
        <locationY>1310</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>An incoming SMS has been received: {!AlertMessage}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>tech@livedifferent.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Incoming SMS Salesforce Twilio</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Contact_Success_Check</name>
        <label>Contact Success Check</label>
        <locationX>622</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Error_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Lookup</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Owner_Lookup</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>MissingMobile</name>
        <label>MissingMobile</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Error_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MissingMobileNumber</defaultConnectorLabel>
        <rules>
            <name>Mobile_Number_Fou_d</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerMobile</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_Owner</targetReference>
            </connector>
            <label>Mobile Number Fou d</label>
        </rules>
    </decisions>
    <decisions>
        <name>Successful</name>
        <label>Successful</label>
        <locationX>402</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>SMS_FInd_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Lookup</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AlertMessage</name>
        <dataType>String</dataType>
        <expression>{!ContactName} + &quot; sent a message through SF: &quot; + {!Message}</expression>
    </formulas>
    <formulas>
        <name>PhoneFormatter</name>
        <dataType>String</dataType>
        <expression>&quot;(&quot;&amp; MID(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE( {!MobilePhone} , &quot;.&quot;, &apos;&apos;),&quot;-&quot;,&quot;&quot;),&quot;+&quot;,&quot;&quot;),1,3) &amp; &quot;) &quot;&amp; MID(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE( {!MobilePhone} , &quot;.&quot;, &apos;&apos;),&quot;-&quot;,&quot;&quot;),&quot;+&quot;,&quot;&quot;),4,3)&amp; &quot;-&quot; &amp; MID(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE( {!MobilePhone} , &quot;.&quot;, &apos;&apos;),&quot;-&quot;,&quot;&quot;),&quot;+&quot;,&quot;&quot;),7,4)</expression>
    </formulas>
    <interviewLabel>Incoming SMS owner alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incoming SMS owner alert v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Contact</name>
        <label>Lookup Contact</label>
        <locationX>402</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Successful</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MobilePhone</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Owner_Lookup</name>
        <label>Owner Lookup</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MissingMobile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerMobile</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>SMS_FInd_Lead</name>
        <label>SMS FInd Lead</label>
        <locationX>622</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Success_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MobilePhone</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>ContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lookup_Contact</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>9057300786</stringValue>
        </value>
    </variables>
    <variables>
        <name>OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
