force-app/main/default/main/default/flows/PMC_Opportunity_Workflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>contract_comment</name>
        <label>contract comment</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>update_trigger_time</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>PMC Contract Comment - {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Comment on contract: {!$Record.School_Contract_Comments__c}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_send_detalis</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of Copy 1 of Copy 1 of send detalis</label>
        <locationX>3922</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Owner.Email},{!default_owner_fields.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>{!default_owner_fields.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>(Sending in 24 hours to {!$Record.Contact_Survey__r.Full_Name__c}) Open to feedback about Circles Peer Mentorship Program</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>email_3_reminder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_send_detalis</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of Copy 1 of send detalis</label>
        <locationX>2338</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Owner.Email},{!default_owner_fields.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>{!default_owner_fields.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>(Sending in 24 hours to {!$Record.Contact_Survey__r.Full_Name__c}) Peer Mentorship curriculum check-in</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>email_reminder_2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_send_detalis</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of send detalis</label>
        <locationX>1810</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Contact_Survey__r.Email},{!default_owner_fields.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>{!default_owner_fields.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Peer Mentorship curriculum check-in</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>email_reminder_2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact_Survey__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_send_detalis</name>
        <label>Copy 1 of Copy 1 of Copy 1 of send detalis</label>
        <locationX>1282</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>flow_date_time</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Contact_Survey__r.Email},{!default_owner_fields.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>{!default_owner_fields.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Are you starting your Peer Mentorship curriculum soon? </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>email_reminder_1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact_Survey__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_send_details</name>
        <label>Copy 1 of send details</label>
        <locationX>754</locationX>
        <locationY>708</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_stage_PMC_not_registered</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Contact_Survey__r.Email},{!default_owner_fields.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>{!default_owner_fields.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Links for Circles Peer Mentorship Curriculum</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact_Survey__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_send_detalis</name>
        <label>Copy 2 of Copy 1 of Copy 1 of Copy 1 of Copy 1 of send detalis</label>
        <locationX>3394</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Contact_Survey__r.Email},{!default_owner_fields.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>{!default_owner_fields.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Open to feedback about Circles Peer Mentorship Program</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>email_3_reminder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact_Survey__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Copy_1_of_Copy_1_of_Copy_1_of_send_detalis</name>
        <label>Copy 2 of Copy 1 of Copy 1 of Copy 1 of send detalis</label>
        <locationX>4714</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>default_owner_fields.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>{!default_owner_fields.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>(24hr preview) Are you starting your Peer Mentorship curriculum soon? </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>email_reminder_1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact_Survey__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>send_detalis</name>
        <label>send details</label>
        <locationX>2866</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_Update_stage_PMC_not_registered</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Contact_Survey__r.Email},{!default_owner_fields.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>{!default_owner_fields.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Links for Circles Peer Mentorship Curriculum</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact_Survey__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <constants>
        <name>default_circles_coach_owner_id</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005500000074XCLAA2</stringValue>
        </value>
    </constants>
    <decisions>
        <name>any_records</name>
        <label>any records</label>
        <locationX>754</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>any_recordss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PA_from_opp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>two_mins_after_trigger_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Signed</stringValue>
                </rightValue>
            </conditions>
            <label>has records</label>
        </rules>
        <rules>
            <name>two_mins</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>two_mins_after_trigger_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PMC_Initial_Check_In_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_PMC_check_in_if_blank</targetReference>
            </connector>
            <label>two_mins</label>
        </rules>
    </decisions>
    <decisions>
        <name>contract_comment_alert</name>
        <label>contract comment alert</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>update_trigger_time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>alert_about_comment_on_contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.School_Contract_Comments__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>contract_comment</targetReference>
            </connector>
            <label>alert about comment on contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_any_records</name>
        <label>Copy 1 of any records</label>
        <locationX>1414</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_has_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PA_from_opp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>two_mins_after_trigger_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_send_detalis</targetReference>
            </connector>
            <label>No program activities</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_any_records</name>
        <label>Copy 1 of Copy 1 of any records</label>
        <locationX>4846</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_No_program_activities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PA_from_opp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>two_mins_after_trigger_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Copy_1_of_Copy_1_of_send_detalis</targetReference>
            </connector>
            <label>Copy 1 of No program activities</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Copy_2_of_any_records</name>
        <label>Copy 1 of Copy 1 of Copy 2 of any records</label>
        <locationX>4054</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Copy_2_of_has_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PA_from_opp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>two_mins_after_trigger_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_send_detalis</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Copy 2 of has records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_2_of_any_records</name>
        <label>Copy 1 of Copy 2 of any records</label>
        <locationX>2470</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_2_of_has_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PA_from_opp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>two_mins_after_trigger_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_send_detalis</targetReference>
            </connector>
            <label>Copy 1 of Copy 2 of has records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_any_records</name>
        <label>Copy 2 of any records</label>
        <locationX>1942</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_has_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PA_from_opp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>two_mins_after_trigger_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_send_detalis</targetReference>
            </connector>
            <label>Copy 2 of has records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Copy_2_of_any_records</name>
        <label>Copy 2 of Copy 2 of any records</label>
        <locationX>3526</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Copy_2_of_has_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PA_from_opp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>two_mins_after_trigger_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_send_detalis</targetReference>
            </connector>
            <label>Copy 2 of Copy 2 of has records</label>
        </rules>
    </decisions>
    <decisions>
        <name>skip_if_re_triggering</name>
        <label>PMC_check_in date exists and not re-triggering</label>
        <locationX>2998</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_skip_if_re_triggering</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PMC_Initial_Check_In_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>two_mins_after_trigger_date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PA_from_opp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_default_program_activity_owner</targetReference>
            </connector>
            <label>Outcome 1 of skip if re-triggering</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>friendlyPMCcheckindate</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH({!$Record.PMC_Initial_Check_In_Date__c}),
     1, &quot;January&quot;,
     2, &quot;February&quot;,
     3, &quot;March&quot;,
     4, &quot;April&quot;,
     5, &quot;May&quot;,
     6, &quot;June&quot;,
     7, &quot;July&quot;,
     8, &quot;August&quot;,
     9, &quot;September&quot;,
     10, &quot;October&quot;,
     11, &quot;November&quot;,
     12, &quot;December&quot;,
     &quot;Unknown&quot;) 
+ &quot; &quot; + 
TEXT(DAY({!$Record.PMC_Initial_Check_In_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>PMCcheckinplus2weeks</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+14</expression>
    </formulas>
    <formulas>
        <name>two_mins_after_trigger_date</name>
        <dataType>Boolean</dataType>
        <expression>if({!$Flow.CurrentDateTime}-{!$Record.Flow_trigger_date_time__c} &gt;( 2/1440),TRUE,FALSE)</expression>
    </formulas>
    <interviewLabel>PMC Opportunity Workflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMC Opportunity Workflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Copy_1_of_Copy_2_of_pa</name>
        <label>Copy 1 of Copy 1 of Copy 2 of pa</label>
        <locationX>4054</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_2_of_any_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Program_Activity__c</object>
        <outputReference>PA_from_opp</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Copy_2_of_pa</name>
        <label>Copy 1 of Copy 2 of pa</label>
        <locationX>2470</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_any_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Program_Activity__c</object>
        <outputReference>PA_from_opp</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Copy_3_of_pa</name>
        <label>Copy 1 of Copy 3 of pa</label>
        <locationX>4846</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_any_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Program_Activity__c</object>
        <outputReference>PA_from_opp</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Copy_4_of_default_program_activity_owner</name>
        <label>Copy 1 of Copy 4 of default_program_activity_owner</label>
        <locationX>4846</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_3_of_pa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>default_circles_coach_owner_id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>default_owner_fields</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Copy_5_of_default_program_activity_owner</name>
        <label>Copy 1 of Copy 5 of default_program_activity_owner</label>
        <locationX>3526</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Copy_2_of_pa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>default_circles_coach_owner_id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>default_owner_fields</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Calendar_URL__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Copy_6_of_default_program_activity_owner</name>
        <label>Copy 1 of Copy 6 of default_program_activity_owner</label>
        <locationX>4054</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_2_of_pa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>default_circles_coach_owner_id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>default_owner_fields</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Calendar_URL__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_pa</name>
        <label>Copy 1 of pa</label>
        <locationX>2998</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>skip_if_re_triggering</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Program_Activity__c</object>
        <outputReference>PA_from_opp</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Copy_2_of_pa</name>
        <label>Copy 2 of Copy 2 of pa</label>
        <locationX>3526</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Copy_2_of_any_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Program_Activity__c</object>
        <outputReference>PA_from_opp</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_pa</name>
        <label>Copy 2 of pa</label>
        <locationX>1942</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_any_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Program_Activity__c</object>
        <outputReference>PA_from_opp</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Copy_3_of_pa</name>
        <label>Copy 3 of pa</label>
        <locationX>1414</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_any_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Program_Activity__c</object>
        <outputReference>PA_from_opp</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Copy_4_of_default_program_activity_owner</name>
        <label>Copy 4 of default_program_activity_owner</label>
        <locationX>1414</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_pa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>default_circles_coach_owner_id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>default_owner_fields</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Copy_5_of_default_program_activity_owner</name>
        <label>Copy 5 of default_program_activity_owner</label>
        <locationX>1942</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_pa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>default_circles_coach_owner_id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>default_owner_fields</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Copy_6_of_default_program_activity_owner</name>
        <label>Copy 6 of default_program_activity_owner</label>
        <locationX>2470</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_pa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>default_circles_coach_owner_id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>default_owner_fields</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Copy_7_of_default_program_activity_owner</name>
        <label>Copy 7 of default_program_activity_owner</label>
        <locationX>2866</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>send_detalis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>default_circles_coach_owner_id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>default_owner_fields</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>default_program_activity_owner</name>
        <label>default_program_activity_owner</label>
        <locationX>754</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>default_circles_coach_owner_id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>default_owner_fields</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>pa</name>
        <label>pa</label>
        <locationX>754</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>any_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Program_Activity__c</object>
        <outputReference>PA_from_opp</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_stage_PMC_not_registered</name>
        <label>Copy 1 of Update stage PMC not registered</label>
        <locationX>2866</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>PMC Not Registered</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_stage_PMC_not_registered</name>
        <label>Copy 2 of Update stage PMC not registered</label>
        <locationX>4450</locationX>
        <locationY>276</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Stalled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>flow_date_time</name>
        <label>flow date time</label>
        <locationX>1282</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Flow_trigger_date_time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_PMC_check_in_if_blank</name>
        <label>update PMC check-in if blank</label>
        <locationX>754</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Copy_1_of_send_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PMC_Initial_Check_In_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>PMC_Initial_Check_In_Date__c</field>
            <value>
                <elementReference>PMCcheckinplus2weeks</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_stage_PMC_not_registered</name>
        <label>Update stage PMC not registered</label>
        <locationX>754</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>PMC Not Registered</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_trigger_time</name>
        <label>update trigger time</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <inputAssignments>
            <field>Flow_trigger_date_time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2388</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>contract_comment_alert</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Presentation_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Peer Mentorship Curriculum</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract Signed</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PMC Not Registered</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>after_signed</name>
            <connector>
                <targetReference>default_program_activity_owner</targetReference>
            </connector>
            <label>30mins after signed</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_week_reminder</name>
            <connector>
                <targetReference>Copy_4_of_default_program_activity_owner</targetReference>
            </connector>
            <label>PMC check-in date</label>
            <offsetNumber>12</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>PMC_Initial_Check_In_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X3_week_reminder</name>
            <connector>
                <targetReference>Copy_5_of_default_program_activity_owner</targetReference>
            </connector>
            <label>7 day after PMC check-in date</label>
            <offsetNumber>180</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>PMC_Initial_Check_In_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X7_days_after_PMC_check_in_date_24hr_preview</name>
            <connector>
                <targetReference>Copy_6_of_default_program_activity_owner</targetReference>
            </connector>
            <label>(24hr preview) 7 days after PMC check-in date</label>
            <offsetNumber>156</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>PMC_Initial_Check_In_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X10mins_after_created</name>
            <connector>
                <targetReference>Copy_1_of_pa</targetReference>
            </connector>
            <label>10mins after created</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X35_days_after_PMC_check_in_date</name>
            <connector>
                <targetReference>Copy_1_of_Copy_5_of_default_program_activity_owner</targetReference>
            </connector>
            <label>35 days after PMC check in date</label>
            <offsetNumber>852</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>PMC_Initial_Check_In_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X35days_after_PMC_check_in_preview_1_day_before</name>
            <connector>
                <targetReference>Copy_1_of_Copy_6_of_default_program_activity_owner</targetReference>
            </connector>
            <label>(24hr preview) 35days after PMC check in</label>
            <offsetNumber>828</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>PMC_Initial_Check_In_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X60_days_after</name>
            <connector>
                <targetReference>Copy_2_of_Update_stage_PMC_not_registered</targetReference>
            </connector>
            <label>60 days after</label>
            <offsetNumber>60</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>PMC_Initial_Check_In_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X24hr_preview_PMC_checkin</name>
            <connector>
                <targetReference>Copy_1_of_Copy_4_of_default_program_activity_owner</targetReference>
            </connector>
            <label>(24hr preview) PMC checkin</label>
            <offsetNumber>-12</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>PMC_Initial_Check_In_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>email</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Contact_Survey__r.FirstName},&lt;/p&gt;

&lt;p&gt;I&apos;m happy to hear that you&apos;re planning to run the Peer Mentorship Curriculum at {!$Record.Account.Account_Name_Formula__c}! I&apos;ll reach out again around {!friendlyPMCcheckindate} to see if you have a clearer idea of how you&apos;ll be running the program. However, if you figure things out sooner, feel free to use this link anytime to update us on when and how you are running Circles: &lt;a href=&quot;https://www.tfaforms.com/forms/view/5105548?tfa_14={!$Record.Id}&amp;amp;tfa_16=&amp;amp;tfa_1={!$Record.Account.Name})&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Circles PMC Update Form&lt;/a&gt;. We will then send the password to the licensed, non-watermarked videos (in the meantime, preview them privately using the password below).&lt;/p&gt;

&lt;h3&gt;Preview the Curriculum&lt;/h3&gt;

&lt;p&gt;Here are the links to the curriculum and to preview the videos for each session:&lt;/p&gt;

&lt;ul&gt;
    &lt;li&gt;&lt;strong&gt;&lt;a href=&quot;https://livedifferent.com/programs/circles/circles-resources/&quot;&gt;Curriculum resource page&lt;/a&gt;&lt;/strong&gt;: where you can access the training materials, lesson plans, and more.&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;https://vimeo.com/showcase/7626839&quot; rel=&quot;noopener&quot; target=&quot;_blank&quot;&gt;Preview the videos here&lt;/a&gt; for each Circles session.&lt;/li&gt;
&lt;/ul&gt;

&lt;p&gt;&lt;strong&gt;Video Password:&lt;/strong&gt; ldcircles_free.preview&lt;/p&gt;

&lt;p&gt;Warm Regards,&lt;/p&gt;
&lt;p&gt;{!default_owner_fields.FirstName} {!default_owner_fields.LastName}&lt;br&gt;LiveDifferent&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>email_1_Devina</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Contact_Survey__r.FirstName},&lt;/p&gt;&lt;p&gt;I&apos;m happy to hear that you are running the Peer Mentorship Curriculum at {!$Record.Account.Account_Name_Formula__c}! You might find this &lt;a href=&quot;https://www.youtube.com/watch?v=c2CVm77VyzY&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;video&lt;/a&gt; walking through the &lt;a href=&quot;https://livedifferent.com/programs/circles/circles-resources/materials/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(17, 85, 204);&quot;&gt;Circles Resource Page&lt;/a&gt; to be helpful as you start. If you have any questions or need support, please feel free to email or call me any time at &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!default_owner_fields.Phone}&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;What we ask of you is to help us capture certain info so we can track the impact the program is making. We will send you the form you just filled out with the details on your Circles program(s) to update periodically. At the end we have a Leadership Certificate for you to offer your student leaders that get involved.&lt;/p&gt;&lt;p&gt;Cheers!&lt;/p&gt;&lt;p&gt;{{!default_owner_fields.FirstName}}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Email_1_No_Program_Activity</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Contact_Survey__r.FirstName},&lt;/p&gt;&lt;p&gt;I&apos;m happy to hear that you planning on running the Peer Mentorship Curriculum at {!$Record.Account.Account_Name_Formula__c}! I&apos;ll reach out again around {!friendlyPMCcheckindate} to see you have a clearer idea on how you are running the program. Or if you get things figured out sooner, you are welcome to use this link anytime to update us on when and how your are running Circles: &lt;a href=&quot;https://www.tfaforms.com/forms/view/5105548?tfa_14={!$Record.Id}&amp;amp;tfa_16=&amp;amp;tfa_1={!$Record.Account.Name})&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Circles PMC Update Form&lt;/a&gt;&lt;/p&gt;&lt;p&gt;In the meantime if you have any questions or need support during your planning, please feel free to email or call me any time at</text>
    </textTemplates>
    <textTemplates>
        <name>email_3_reminder</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Contact_Survey__r.FirstName},&lt;/p&gt;
&lt;p&gt;I noticed that you haven&apos;t &lt;a href=&quot;https://www.tfaforms.com/forms/view/5105548?tfa_14={!$Record.Id}&amp;amp;tfa_16=&amp;amp;tfa_1={!$Record.Account.Name})&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;registered&lt;/a&gt; your use of Circles Peer Mentorship Curriculum at {!$Record.Contact_Survey__r.Account.Account_Name_Formula__c} yet, and I wanted to check in. We&apos;re always looking to improve our program and support, so I&apos;d love to hear about any challenges, confusion or friction-points you&apos;ve encountered while reviewing the curriculum that prevented you from moving forward.&lt;/p&gt;
&lt;p&gt;Or, if are still planning on using the curriculum but need some implementation ideas or help, I&apos;d be happy to set up a brief chat. You can schedule a time that works for you using &lt;a href=&quot;{!default_owner_fields.Calendar_URL__c}&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;
&lt;p&gt;Your feedback would be incredibly valuable in helping us better support other educators like yourself. Feel free to reply to this email with any thoughts or concerns, or grab a time in my calendar.&lt;/p&gt;
&lt;p&gt;Looking forward to hearing from you!&lt;/p&gt;
&lt;p&gt;Best regards,&lt;br&gt;
{!default_owner_fields.FirstName}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>email_reminder_1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Contact_Survey__r.FirstName},&lt;/p&gt;&lt;p&gt;I hope you are doing well. I am checking in to see how your planning is shaping up to run the Circles Peer Mentorship Curriculum at {!$Record.Contact_Survey__r.Account.Account_Name_Formula__c}!&lt;/p&gt;&lt;p&gt;If you can fill out &lt;a href=&quot;https://www.tfaforms.com/forms/view/5105548?tfa_14={!$Record.Id}&amp;amp;tfa_16=&amp;amp;tfa_1={!$Record.Account.Name})&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this form&lt;/a&gt; as soon as possible, it will help us track along with when, and how, you are running Circles. We will also send you the password for the licensed, non-watermarked videos as soon as we receive your form response.&lt;/p&gt;&lt;p&gt;Cheers!&lt;/p&gt;&lt;p&gt;{!default_owner_fields.FirstName}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>email_reminder_2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Contact_Survey__r.FirstName},&lt;/p&gt;&lt;p&gt;Just thought I&apos;d follow up again about Circles at {!$Record.Contact_Survey__r.Account.Account_Name_Formula__c} - any idea yet when you will start running it?&lt;/p&gt;&lt;p&gt;If you can fill out &lt;a href=&quot;https://www.tfaforms.com/forms/view/5105548?tfa_14={!$Record.Id}&amp;amp;tfa_16=&amp;amp;tfa_1={!$Record.Account.Name})&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this form&lt;/a&gt; as soon as you know, that will be greatly appreciated. We will send you the password for the public use, non-watermarked Circles episodes as soon as we receive it.&lt;/p&gt;&lt;p&gt;Cheers!&lt;/p&gt;&lt;p&gt;{!default_owner_fields.FirstName}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>default_owner_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>default_owner_fields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>default_owner_first</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>default_owner_last</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PA_from_opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Activity__c</objectType>
    </variables>
</Flow>
