force-app/main/default/main/default/flows/PMC_Program_Activity_Numbering.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>plus_one_counter</name>
        <label>plus one counter</label>
        <locationX>396</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>loopcount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_program_act</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>loop_count_more_than_1</name>
        <label>loop count more than 1</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_update_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopcount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_name</targetReference>
            </connector>
            <label>check count</label>
        </rules>
    </decisions>
    <description>Numbers PMCs when there is more than 1 of them</description>
    <environments>Default</environments>
    <interviewLabel>PMC Program Activity Numbering {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMC Program Activity Numbering</label>
    <loops>
        <name>loop_program_act</name>
        <label>loop program act</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Program_Activities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loop_count_more_than_1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Program_Activities</name>
        <label>Get Program Activities</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_program_act</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_Activity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Peer Mentorship Curriculum</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Activity__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_update_name</name>
        <label>Copy 1 of update name</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>plus_one_counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_program_act.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!$Record.Opportunity__r.Account.Name} - PMC</stringValue>
            </value>
        </inputAssignments>
        <object>Program_Activity__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_name</name>
        <label>update name</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>plus_one_counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_program_act.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!$Record.Opportunity__r.Account.Name} - PMC  {!loopcount}</stringValue>
            </value>
        </inputAssignments>
        <object>Program_Activity__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Program_Activities</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_Activity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Peer Mentorship Curriculum</stringValue>
            </value>
        </filters>
        <object>Program_Activity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>loopcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
