force-app/main/default/main/default/flows/Registration_drop_out.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email</name>
        <label>Email</label>
        <locationX>602</locationX>
        <locationY>456</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Registration_incomplete</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>builds@livedifferent.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subject_line_dropped_reg</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_if_no_registration</name>
        <label>Check if no registration</label>
        <locationX>734</locationX>
        <locationY>336</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_email_no_password</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Initial_Event__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Birthdate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Email</targetReference>
            </connector>
            <label>Send email no registration complete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Registration drop-out {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration drop-out - v5</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00550000005MTHP</stringValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>No_password</name>
            <connector>
                <targetReference>Check_if_no_registration</targetReference>
            </connector>
            <label>No password</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Email template for trip registrations that haven&apos;t finished signing sign-up or registering</description>
        <name>Registration_incomplete</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.FirstName},
It&apos;s {!$Record.Contact.Owner.FirstName} here. Hope you are well today! I wanted to reach out as I saw that you started signing up for {!$Record.Contact.Initial_Event__r.Name} yesterday, but didn&apos;t finish.
Can I help with anything? 
I&apos;d love help out if I can, or answer any questions you have.

Warm Regards,
{!$Record.Contact.Owner.FirstName} {!$Record.Contact.Owner.LastName}</text>
    </textTemplates>
    <textTemplates>
        <description>subject line for dropped registration email</description>
        <name>subject_line_dropped_reg</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hey {!$Record.FirstName}, can I help?</text>
    </textTemplates>
</Flow>
