force-app/main/default/main/default/flows/StartStopSMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_Shley</name>
        <label>Alert Shley</label>
        <locationX>578</locationX>
        <locationY>80</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Please contact our office, we were unable to update your account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <stringValue>9057300786</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Success</name>
        <label>Success</label>
        <locationX>318</locationX>
        <locationY>299</locationY>
        <actionName>TwilioSF__TwilioSendSMS</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Response</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>MobilePhone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSF__TwilioSendSMS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Successornot</name>
        <label>Successornot</label>
        <locationX>371</locationX>
        <locationY>42</locationY>
        <defaultConnector>
            <targetReference>Alert_Shley</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FoundContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContactSMSpref</targetReference>
            </connector>
            <label>FoundContact</label>
        </rules>
    </decisions>
    <formulas>
        <name>PhoneFormatter</name>
        <dataType>String</dataType>
        <expression>&quot;(&quot;&amp; MID(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE( {!MobilePhone} , &quot;.&quot;, &apos;&apos;),&quot;-&quot;,&quot;&quot;),&quot;+&quot;,&quot;&quot;),1,3) &amp; &quot;) &quot;&amp; MID(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE( {!MobilePhone} , &quot;.&quot;, &apos;&apos;),&quot;-&quot;,&quot;&quot;),&quot;+&quot;,&quot;&quot;),4,3)&amp; &quot;-&quot; &amp; MID(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE( {!MobilePhone} , &quot;.&quot;, &apos;&apos;),&quot;-&quot;,&quot;&quot;),&quot;+&quot;,&quot;&quot;),7,4)</expression>
    </formulas>
    <formulas>
        <name>Response</name>
        <dataType>String</dataType>
        <expression>&quot;Notifications are now &quot; + IF({!UpdateRequest} = TRUE, &apos;enabled&apos;, &apos;disabled&apos;) + &quot; for your account&quot;</expression>
    </formulas>
    <interviewLabel>StartStopSMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>StartStopSMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Contact</name>
        <label>Lookup Contact</label>
        <locationX>199</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Successornot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MobilePhone</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>CID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Number_of_Builds__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContactSMSpref</name>
        <label>UpdateContactSMSpref</label>
        <locationX>307</locationX>
        <locationY>167</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>sms_notifications__c</field>
            <value>
                <elementReference>UpdateRequest</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>Lookup_Contact</startElementReference>
    <status>Active</status>
    <variables>
        <name>CID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>9057300786</stringValue>
        </value>
    </variables>
    <variables>
        <name>Responsemessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateRequest</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
