force-app/main/default/main/default/flows/Update_Campaign_Member_Status_URL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Update Campaign Member Status URL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Campaign Member Status URL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Copy_1_of_update_campaign_member</name>
        <label>Copy 1 of update campaign member</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>update_campaign_member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaign_member_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Drip stopped</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_campaign_member</name>
        <label>update campaign member</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaign_member_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Campaign_Member_Status</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_update_campaign_member</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>campaign_member_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Campaign_Member_Status</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
